[2021-07-26 16:59] tyvdh opened #4 "stellar-quest-badge-checker.md"
https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-quest-badge-checker.md

[2021-07-26 17:42] rahimklaber commented on #4
started working here: https://github.com/rahimklaber/stellar_quest_badge_checker.

Maybe we should require people to add a comment like this in the future to see who is working on what and to avoid more people than necessary to work on one thing?

[2021-07-26 18:22] ElliotFriend commented on #4
Oooh, oooh! Me too 😆

https://github.com/ElliotFriend/sq-badge-checker

[2021-07-26 20:36] tyvdh opened #5 "stellar-lab-op-duplication.md"
https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-lab-op-duplication.md

[2021-07-26 20:50] tyvdh opened #6 "stellar-docs-code-snippet.md"
https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/stellar-docs-code-snippet.md

[2021-07-27 08:13] hanseartic commented on #5
started: https://github.com/stellar/laboratory/compare/master...hanseartic:bounty-no-5?expand=1

[2021-07-27 12:38] hanseartic commented on #5
Ready from my point of view: https://github.com/hanseartic/stellar-laboratory

[2021-07-27 12:50] hanseartic opened #7 "review stellar-lab-op-duplication"
#5 is ready from my point of view: https://github.com/hanseartic/stellar-laboratory

![grafik](https://user-images.githubusercontent.com/1752217/127158684-7db18420-3cfd-49dd-bd55-d324aea3063a.png)

[2021-07-27 13:26] Kanaye commented on #7
From a UI perspective: I'd love some margin between the "transaction" box and the buttons and between the buttons themselves.
![lab](https://user-images.githubusercontent.com/5108989/127161303-2d27e5cf-907e-40ce-b99d-0cead9a208a2.png)
Otherwise it looks good to me 😍

[2021-07-27 13:47] apaldiwal commented on #7
Can we have a consistent shape for the buttons? Other than what Kanye mentioned, I'm perfectly fine with everything. Good job!

[2021-07-27 21:15] hanseartic commented on #7
I think this way:
<img width="335" alt="grafik" src="https://user-images.githubusercontent.com/1752217/127228268-42c269a1-dbf5-47aa-85fa-450896c6f0d6.png">
it fits better to the order box above.
Whereas this:
<img width="580" alt="grafik" src="https://user-images.githubusercontent.com/1752217/127228406-e96b6095-26e8-4167-a9d1-75e89a6cb8a6.png">
matches the rest of the buttons. I am fine with both.

[2021-07-27 21:15] hanseartic commented on #7
see https://github.com/tyvdh/stellar-quest-bounties/issues/7#issuecomment-887839997

[2021-07-27 21:26] apaldiwal commented on #7
I agree with you on the first option. It looks much better!

[2021-07-27 21:30] Kanaye commented on #7
I actually like the second variant more.
Yeah the first one looks better, but breaks the design, as all action-buttons are presented round and choices (e.g. `<input type="radio"/>`-ements are shown more like that , but I'm fine with both variants.

[2021-07-27 22:22] MatejMecka commented on #6
This PR Adds a Python Code Snippet for Channels: https://github.com/stellar/new-docs/pull/474

[2021-07-27 23:19] apaldiwal commented on #6
This PR Adds a Python Code Snippet for Claimable Balance: [stellar/new-docs/pull/472](https://github.com/stellar/new-docs/pull/472)

[2021-07-27 23:20] apaldiwal commented on #6
This PR Adds a Python Code Snippet for Clawbacks: [stellar/new-docs/pull/475](https://github.com/stellar/new-docs/pull/475)

[2021-07-28 03:35] ralphilius commented on #6
This PR add Java code snippet to Channels https://github.com/stellar/new-docs/pull/476

[2021-07-28 03:35] ralphilius commented on #6
This PR add Java code snippet to List Trade Aggregations API reference https://github.com/stellar/new-docs/pull/477

[2021-07-28 04:51] apaldiwal commented on #6
This PR Adds a Python Code Snippet for Retrieve Fee Stats API Reference: [stellar/new-docs/pull/478](https://github.com/stellar/new-docs/pull/478)

[2021-07-28 05:02] hanseartic commented on #7
Thank you for the feedback. I agree, that from a consistency perspective on UX, the bubbly buttons should be used. But still the stacked buttons feel more space-economic to me.

[2021-07-28 07:51] ralphilius commented on #6
This PR adds Java Code block to List Strict Send Payment Paths https://github.com/stellar/new-docs/pull/480
This PR adds Java Code block to List Strict Receive Payment Paths https://github.com/stellar/new-docs/pull/479

[2021-07-28 13:05] tyvdh commented on #7
So is this bounty considered complete? Passed by @Kanaye and @apaldiwal? How should we denote agent approval?

[2021-07-28 14:33] tyvdh opened #11 "stellar-lab-albedo.md"
https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-lab-albedo.md

[2021-07-28 15:08] tyvdh commented on #6
Once these start getting approved be sure and ping me so I know to issue the payouts. Also feel free to open new issues for yourselves tracking your own contributions to this bounty to ensure things aren't lost in this more discussion focused issue.

[2021-07-28 15:15] tyvdh commented on #4
Once you have a repo ready for review don't forget to add it as a new Issue. Excited to see what you come up with!

[2021-07-28 15:35] ralphilius opened #12 "Bounty Idea: Mobile-friendly layout for laboratory"
Initial comment from @tyvdh in SQ Discord

[2021-07-28 16:06] #12 closed

[2021-07-28 20:20] hanseartic commented on #7
There was a suggestion here: https://github.com/tyvdh/stellar-quest-bounties/pull/17#issuecomment-888572429

[2021-07-28 20:27] tyvdh commented on #7
Let's actually go ahead and submit a PR for this just to see what happens. But I think we should consider this bounty complete once we have a pending PR with Lab. It's probably not a bounty we want to be long lived anyway.

[2021-07-28 20:29] hanseartic commented on #7
Could we agree on which design option to use before raising PR with LAB, please?

[2021-07-28 20:30] tyvdh commented on #7
How/where should we link Stellar public keys? Should they just be linked somewhere in the review issue?

[2021-07-28 20:32] tyvdh commented on #7
This one. Lab team can make the final call if they even decide to accept it. I'd actually like to see icons used. A trash can and the clone icon, but its the functionality that matters most at this point.
![Screen Shot 2021-07-28 at 4 31 30 PM](https://user-images.githubusercontent.com/4383610/127391619-0af5e3de-7d1a-4de0-9956-1443fc4e5286.png)

[2021-07-28 20:33] hanseartic commented on #7
What about when filing the PR the feature branch should be named <PUBLIC_KEY>/<ISSUE_ID>?

[2021-07-28 20:35] Kanaye commented on #7
I guess that would be the easiest option for now. But for future it would be easier if we have some kind of "signup" process per hunter that catches that and maybe other stuff like tax-stuff (if we need that, no idea on US law) and so on.

[2021-07-28 20:54] hanseartic commented on #7
https://github.com/tyvdh/stellar-quest-bounties/pull/19/files

[2021-07-28 21:03] tyvdh commented on #7
Nice!

@Kanaye
@apaldiwal

What about you guys? What address should I create a claimable balance for the agent credits?

[2021-07-28 21:12] Kanaye commented on #7
Right, we should think about how Agents will sign up also 🤔
For now I guess I'll just link it here: GA3KETGKS6Y53IMBZHTCFDVFMYOFVLAGPKIYQMSECBQ7425HPPKANAYE

[2021-07-28 23:29] apaldiwal commented on #7
Oh, here's my public key: GCUIVEY5TAVRKBCHGVPFXXOZTRNCG7GWSEBFVYHPDN2YPJKGPAAAYE4N

[2021-07-29 03:12] ralphilius commented on #7
What about a config file in this repo? We should have <USERNAME>:<PUBLIC_KEY> for each line.

[2021-07-29 13:39] tyvdh commented on #7
Payment made! Well claimable balance to be specific.
https://stellar.expert/explorer/public/tx/bbb4513f62ba56aee647890201a762e81ea4b9a1c3b2f7cbbd826cfb6dd149b7

Working on the credit payments now. Gotta think through those a little more.

[2021-07-29 14:22] tyvdh commented on #7
@Kanaye and @apaldiwal I've got your claimable balances issued as well. Once you've setup trustlines I'll need to authorize them before you'll be able to claim I _think_.

https://stellar.expert/explorer/public/tx/94a368217dda86edc9ee215abe520da9b4861a9a2cf3c20948a546d6e3f1b384

Claimable balances with an auth required asset is an interesting scenario.

[2021-07-29 14:28] Kanaye commented on #7
Yes, we need auth for that, just tested it as I wasn't sure ;)
Or in other words: my trustline is setup.

[2021-07-29 14:29] tyvdh commented on #7
[code]

Here's the transaction for authorizing the trustlines. You'll just need to wrap in a fee bump before submitting. Also don't run it until @apaldiwal has his trustline setup otherwise it will fail and the sequence number will become invalid and I'll need to regenerate it.

[2021-07-29 15:17] ralphilius opened #21 "review stellar-lab-albedo"
PR https://github.com/stellar/laboratory/pull/546 for bounty #11

[2021-07-29 15:17] ralphilius commented on #11
Ready for review in #21

[2021-07-29 15:20] Kanaye commented on #21
Not sure that it is the greatest idea to open up PRs on the origin repo before we  had a chance to review tbh. But well to late, I'll take a look.

[2021-07-29 15:22] Kanaye commented on #21
I guess you've missed a `console.log` statement from "debugging"  https://github.com/stellar/laboratory/pull/546/files#diff-00c0965499c0df35abe501fc79e1b295a7daef567e5b6fdd9f83d7a5654db8feR49

[2021-07-29 15:34] ralphilius commented on #21
Yeah.. I missed that. They don't have eslint though 😃

[2021-07-29 17:28] apaldiwal commented on #7
I've set up my trustline! All set and good to go! :)

[2021-07-29 17:30] Kanaye commented on #7
Check! Trustlines are authorized now. So you can claim your 2 `0x0001f9d0` 😄

[2021-07-29 18:13] tyvdh commented on #7
Nice! We're good to close this Issue then yes?

[2021-07-29 18:31] apaldiwal commented on #21
Can you change 'Albedo' label with 'Wallet' or something similar? I know Albedo isn't exactly a wallet, but it will be good to have a generic label.

![image](https://user-images.githubusercontent.com/73634107/127546381-3261c457-c2bb-4294-924b-787446a7e839.png)

[2021-07-29 18:56] tyvdh commented on #21
Albedo makes sense as it matches the current pattern with Freighter
![Screen Shot 2021-07-29 at 2 55 49 PM](https://user-images.githubusercontent.com/4383610/127550044-aac340d9-9ac7-4775-829f-1b80571bf399.png)

[2021-07-29 18:56] #7 closed

[2021-07-29 18:57] tyvdh commented on #5
Closed via https://github.com/tyvdh/stellar-quest-bounties/issues/7

[2021-07-29 18:57] #5 closed

[2021-07-29 19:37] apaldiwal commented on #21
I was just thinking if we end up adding support for more wallets, the UI will get cluttered. But yeah, it makes sense to to match the current pattern.

[2021-07-29 19:52] Kanaye commented on #21
Looks good to me! I'd personally replace some of the `if-else-if-else-if`-statments with switch-statements ... but well they are used that way in other function too, so they kinda belong into the codebase. Also tested the functionallity and other than albedos sometimes weird UI I didn't notice anything 👍

[2021-07-30 05:30] ralphilius commented on #21
That's what I originally did until I thought Software Wallets is not a good name, so I sticked with current implementation until we have more integration.

[2021-07-30 16:20] tyvdh commented on #21
@Kanaye
@apaldiwal
Should we consider this bounty complete and ready for payout then? I don't think waiting on PR acceptance in this case is reasonable as the Lab team tends to move slowly.

[2021-07-30 16:28] Kanaye commented on #21
Maybe we should think about how we handle this in future.  "External" (aka. non-lumenaut) hunters might lose interest on bounties once they've been payed out and don't have interest in resolving issues/feedback from the upstream repository. So maybe we should split bounties with upstream respository to "X XLM for completing the bounty and Y XLM the upstream PR gets merged" or something like that.

[2021-07-30 16:57] rahimklaber opened #23 "Stellar Quest badge checker"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-quest-badge-checker.md

### Mark your progress

- [x] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

Submission for #4.
Github repo : https://github.com/rahimklaber/stellar_quest_badge_checker

Let the roast begin.

[2021-07-30 17:01] rahimklaber commented on #4
submission : https://github.com/tyvdh/stellar-quest-bounties/issues/23

[2021-07-30 17:34] Kanaye commented on #23
Code styles are sometimes inconsistent e.g. [here](https://github.com/rahimklaber/stellar_quest_badge_checker/blob/e4066b6172a5232a49b8a9cbcad8974dbfb817f0/src/lib/createAttestation.ts#L26) or [here (sometime a space before a `{` sometimes not)](https://github.com/rahimklaber/stellar_quest_badge_checker/blob/e4066b6172a5232a49b8a9cbcad8974dbfb817f0/src/Badges.tsx#L26-L27)
I'd suggest adding [eslin

[2021-07-30 17:45] rahimklaber commented on #23
I will take a look at the text, did not consider that. I normally use nightlight turned to 100% so I don't notice somethings.

[2021-07-30 18:07] tyvdh commented on #21
@apaldiwal and @ralphilius can you add your addresses to PRs on this file?
https://github.com/tyvdh/stellar-quest-bounties/blob/main/ADDRESSES.yaml

Thanks!

[2021-07-30 18:51] tyvdh opened #26 "[Bug]: Test"
### Contact Details

hi@tyvdh.com

### What happened?

A bug happened!

### Version

1.0.2 (Default)

### What browsers are you seeing the problem on?

Chrome

### Relevant log output

[code]

### Code of Conduct

- [X] I agree to follow this project's Code of Conduct

[2021-07-30 18:56] apaldiwal commented on #21
I really like this idea!

[2021-07-30 19:05] rahimklaber commented on #23
Alright, I have improved a bunch:
* I ran a code formatter on the whole project, should be consistent now.
* I removed the random testnet variable
* I made the anchors consistent
* I removed the powered by message
* I removed some old todos

I'll take a look at adding eslint and prettier later.

[2021-07-30 20:06] apaldiwal commented on #23
As the number of series grows, it will be difficult to show all the badges without scrolling. So, I was thinking if you could maybe add a vertical navigation bar to improve the UI? I really like the interface of [Credly's Acclaim](https://www.credly.com/organizations/acclaim/badges) website.

I was thinking something along these lines but it is definitely not mandatory or important that you implem

[2021-07-30 20:47] rahimklaber commented on #23
I think scrolling is fine for now, when it gets to maybe Series 5 or 6 I might change it, but for now I like the layout. However, if more people agree with you I will change it.

Ty for the compliments.

[2021-07-30 20:51] Kanaye commented on #23
As the badges are hardcoded, someone will need to update the tool to work with future series anyways. So the design can be updated when adding the badges ;)

[2021-07-30 22:47] rahimklaber commented on #23
Btw, what do you guys think about the level of comments. Do you think I should add more comments?

[2021-07-31 12:13] Smephite commented on #23
It seems like you forgot to include the mono badges.
You have a list of all valid quest assets here: https://quest.stellar.org/.well-known/stellar.toml

[2021-07-31 14:54] rahimklaber commented on #23
I actually did not include them on purpose.

[2021-07-31 15:10] Smephite commented on #23
I guess the purpose of this application is to prove that you completed the quests / put effort into learning the eco system thus it should not matter at which time you completed the quests

[2021-07-31 15:14] rahimklaber commented on #23
👍 will do.

[2021-07-31 20:51] apaldiwal commented on #23
If you want to you can. It's not a big project as of now, so it's easy to understand the code.

[2021-07-31 22:58] rahimklaber commented on #23
I've added support for monochrome badges.

This is what it looks like
![image](https://user-images.githubusercontent.com/21971137/127754247-687bee3b-de1f-4e09-a5da-3f161d9111e1.png)

[2021-08-02 11:58] hanseartic commented on #23
Please create a new PR to add a link to your submission into https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-quest-badge-checker.md

[2021-08-02 13:50] tyvdh commented on #21
@ralphilius 48f6df792348da83b7d09cd93b6c239ecfe29f5022b189129533768337ad3695
@Kanaye 803759f86cc13edf7552afe22fc6149050c088fb007c701a47a113f64a8b8b3f
@apaldiwal 327e519f0bd70e94b9ddc4e48b6576a762c2c2a8a33048b54edee6b996fefc1e

[2021-08-02 13:50] #21 closed

[2021-08-02 13:51] tyvdh commented on #11
Completed via https://github.com/tyvdh/stellar-quest-bounties/issues/21

[2021-08-02 13:51] #11 closed

[2021-08-02 17:50] tyvdh opened #40 "🔵 bounty-template.md"
Here's my proposal for a bounty template. Let's use this to work off of to arrive at the perfect bounty template.

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/README.md

[2021-08-02 18:48] ElliotFriend opened #41 "Stellar Quest badge checker"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-quest-badge-checker.md

### Mark your progress

- [x] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

I've been working on this bounty for a bit.

Here's the GH repo: https://github.com/ElliotFriend/sq-badge-checker

And here's a live site: https://bad

[2021-08-02 19:04] tyvdh commented on #41
ftr this is a great Issue example. Well done!

[2021-08-02 19:05] tyvdh commented on #41
However if you're ready for review the status should be 🟢  so reviewers know it's their time to shine. If you're not ready yet though 👍

[2021-08-02 19:06] ElliotFriend commented on #41
Also, ftr facebook **immediately** screwed up my whole steganography scheme... 👎🏻

Really wished I had tried that much earlier in the process!!! 😠

Yeah, not quite ready yet Hehehe

[2021-08-02 19:53] Kanaye commented on #41
You shouldn't "trust" the input from a user. You should verify that the signature matches and that the account has all the badges at time of verification.

[2021-08-02 20:04] ElliotFriend commented on #41
Yeah. Yeah, I think I'm seeing it now.

I think I was depending too much on encapsulating all the verification at time of "export" and essentially just reading that back in to "verify." It seems so obvious now that wouldn't cut it. You phrased that just right, Kanaye, to rattle things in my brain into the right position. Thanks!

[2021-08-02 20:06] Kanaye commented on #41
![grafik](https://user-images.githubusercontent.com/5108989/127916216-992d977f-661e-4928-97e8-6e3af1e5b7f4.png)
That image (the colored version with a greyed out, monochrome version below) confused me at first glance. I'd add some overlay onto the disabled/greyed out version like "SQ0101 Monochrome: You don't own this badge" to make it easier for a user to grasp what that's all about.

Also the fo

[2021-08-02 20:26] ElliotFriend commented on #41
Thanks a bunch! I'll work on those aspects you mentioned. Verify doesn't do anything yet.

[2021-08-02 22:39] Smephite opened #42 "Stellar Quest badge checker – WASM edition"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-quest-badge-checker.md

### Mark your progress

- [x] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

Basically I'm using my time procrastinating from uni to build a (simple?) proof of concept for this bounty using `Rust` and `WASM`.
I'm using `trunk`

[2021-08-02 22:42] Smephite commented on #42
Ohh I forgot... This is also to annoy @Kanaye

[2021-08-02 22:45] Kanaye commented on #42
Tbh: I don't care. Spend or waste your time doing whatever you like 🤣
If you learn something (rust/wasm/bindgen/all of them/other) while toying around with that: you've spend your time better than most people.
If not: well whatever 🤷

[2021-08-02 22:48] Smephite commented on #42
I guess I'll most likely learn html :P

[2021-08-03 06:17] ElliotFriend commented on #41
Tonight, I moved a bunch of stuff around, and I think got the app into a more "suitable" form 🤞🏻

Also, for the verification, I'm thinking I could make a long hex-encoded string that decodes to a JSON.stringify-ed object containing the pubkey, signed message, asset codes, and operation ids for those asset payments to verify and check when someone visits `badges.elliotfriend.com/verify/:hexstring`

[2021-08-03 13:15] #40 closed

[2021-08-03 13:16] tyvdh commented on #4
As this issue doesn't follow the existing pattern I'm going to close it. If you are currently working on an implementation you should open a new issue for tracking your specific implementation of this bounty if you haven't already.

[2021-08-03 13:16] #4 closed

[2021-08-03 13:19] tyvdh commented on #6
@MatejMecka
@apaldiwal
@ralphilius

I'm going to close this issue as it doesn't track with the new bounty flow. Please open up individual issue tickets here tracking all of your own PRs in the docs repo. Sorry for the hassle but #beta.

If you're unfamiliar with the new bounty hunter flow please see https://github.com/tyvdh/stellar-quest-bounties/blob/main/README.md#flow-for-bounty-hunters

Feel f

[2021-08-03 13:19] #6 closed

[2021-08-03 14:09] Smephite opened #45 "🟣`create-bounties` Bounty for bounties!"
Create bounty for creating bounties... Bounty-ception!
https://github.com/tyvdh/stellar-quest-bounties/pull/13 (Merged)
![bounty_small](https://user-images.githubusercontent.com/2955065/128030224-4dfe7c5a-b61d-41bb-bd2f-f08a1d2c0a17.png)

[2021-08-03 14:12] Smephite opened #46 "🟣`create-bounties` laboratory dark mode"
Add bounty for an stellar lab dark mode. Save our eyes!
https://github.com/tyvdh/stellar-quest-bounties/pull/14 (Merged)

[2021-08-03 14:13] Smephite opened #47 "🟣`create-bounties` bounty template"
We need(ed?) a template to be more consistent.
https://github.com/tyvdh/stellar-quest-bounties/pull/15 (Merged)

[2021-08-03 14:16] Smephite commented on #40
We need to have "" in the context link.
without: https://github.com/tyvdh/stellar-quest-bounties/issues?q=create-bounties
with: https://github.com/tyvdh/stellar-quest-bounties/issues?q=%22create-bounties%22

[2021-08-03 15:48] tyvdh commented on #47
1ed505838977e6ae7f40dbe6dbee62e28e1194aadb29aac77d750510969b969c

[2021-08-03 15:48] #47 closed

[2021-08-03 15:48] tyvdh commented on #46
1ed505838977e6ae7f40dbe6dbee62e28e1194aadb29aac77d750510969b969c

[2021-08-03 15:48] #46 closed

[2021-08-03 15:48] tyvdh commented on #45
1ed505838977e6ae7f40dbe6dbee62e28e1194aadb29aac77d750510969b969c

[2021-08-03 15:48] #45 closed

[2021-08-03 18:48] hanseartic opened #48 "🟣 `create-bounties` stellar-lab-improve-reorder-ux"
Add bounty to improve re-ordering operations in stellar laboratory's [transaction builder](https://laboratory.stellar.org/#txbuilder)

#8 (Merged)

[2021-08-03 19:23] apaldiwal opened #49 "🔵 `stellar-docs-code-snippet.md` created-pull-requests"
## Overview
I have submitted PRs for the following code snippets.
Here's a link for the repository where you can find the PRs, https://github.com/stellar/new-docs

In the following tables,
* **#Functions** is the count of unique blocks of code in an example.
* **Total** is the product of the number of languages the code is written in and the function count for each example.

## Stellar Documentati

[2021-08-03 19:43] tyvdh commented on #48
d3a059a3f1c2396f43d458fbbaeb5cdbb8f942159b226bdf1e8d16bc5473f83e

[2021-08-03 19:43] #48 closed

[2021-08-03 19:49] apaldiwal opened #50 "🔵 `create-bounties` merged-pull-requests"
Added the following bounties,

| Name | URL |
|:-----------:|:-----------:|
stellar-docs-code-snippet.md | [Link](https://github.com/tyvdh/stellar-quest-bounties/pull/1)
stellar-lab-op-duplication.md | [Link](https://github.com/tyvdh/stellar-quest-bounties/pull/3)
million-lumen-homepage.md | [Link](https://github.com/tyvdh/stellar-quest-bounties/pull/22)

[2021-08-03 19:58] tyvdh commented on #50
0c48869b0afbca09f887f59f387b119254554cb75c5dcce388bf50c101e38220

[2021-08-03 19:58] #50 closed

[2021-08-03 22:46] Kanaye commented on #41
if you've got the operation ids (or tx-hashs), you can lookup the asset codes and don't need to store them with the json, also I'd just hash the object and store its hgash along with it on an other object (or something else an array e.g. `[{I: "am the object"}, "Hash here!"]` or something).
Just a note: The generation of operation ids isn't specified anywhere but is something the horizon devs came

[2021-08-04 14:07] rahimklaber opened #67 "🟢 `create-bounties` basic account viewer"
#62

[2021-08-04 14:24] ralphilius opened #68 "🔵 `stellar-docs-code-snippet.md`"
## Stellar API

Name | Language
------------ | -------------
List Strict Send Payment Paths | Java: https://github.com/stellar/new-docs/pull/480
List Strict Receive Payment Paths | Java: https://github.com/stellar/new-docs/pull/479
List Trade Aggregations | Java: https://github.com/stellar/new-docs/pull/477

## Stellar Docs
Name | Language
------------ | -------------
Channels | https://github.com

[2021-08-04 20:30] tyvdh commented on #67
aff2e2bd97ecd2a71fe12c762ad2a39742c2ecb5eaeb7ea3b6238d442f0ca0da

[2021-08-04 20:30] #67 closed

[2021-08-04 20:35] tyvdh opened #69 "🔵 `<title-of-bounty-file>.md`"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/README.md

### Description

[2021-08-04 20:38] tyvdh opened #70 "🔵 `<title-of-bounty-file>.md`"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/commit/35baf82e7f2b02ce9243a2afc4cab72855e01548

### Description

## Progress
[x] 🔵&nbsp; Started working
[ ] 🟢&nbsp; Ready for review
[ ] 🟣&nbsp; Review completed

[2021-08-04 20:39] tyvdh opened #71 "🔵 `<title-of-bounty-file>.md`"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/commit/35baf82e7f2b02ce9243a2afc4cab72855e01548

### Description

### Progress
- [x] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

[2021-08-04 20:47] tyvdh opened #72 "🔵 `<title-of-bounty-file>.md`"
### Link the bounty file

abc

### Description

_No response_

[2021-08-04 23:25] #49 closed

[2021-08-04 23:30] apaldiwal opened #73 "🟣 `stellar-docs-code-snippet.md` claimable-balance-python"
### Link the bounty file

https://github.com/stellar/new-docs/pull/472

### Mark your progress

- [x] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

_No response_

[2021-08-04 23:33] apaldiwal commented on #73
I'm not sure if I categorized the code correctly, but I think it's equivalent to 6 unique function code blocks. What do you think? @tyvdh

[2021-08-05 00:01] apaldiwal commented on #73
I'm not sure how to categorize the code into unique function blocks. What do you think?

[2021-08-05 01:08] tyvdh commented on #73
Here's how it's currently being done.
https://github.com/tyvdh/stellar-quest-bounties/issues/68

[2021-08-05 01:09] tyvdh commented on #73
Oh looks like you had an Issue here: https://github.com/tyvdh/stellar-quest-bounties/issues/49. Probably best to either re-open that one or else copy that data here and just begin to comment as PRs to the docs repo gets merged. Were they all merged?

[2021-08-05 01:10] apaldiwal commented on #73
No, just this one. I can have a new column in the table where I can report the status of each PR. Does that work?

[2021-08-05 01:13] tyvdh commented on #73
Yeah probably 🤔 No need to open a new issue for each merge I don't think. Just need to track the progress as it happens in the one Issue. It's a bit of a unique bounty but worth thinking about how best to keep track with it. Probably should still mark as 🟣 on that as the review is technically done or being done and as far as this bounty repo is concerned all that's left is to get you paid!

[2021-08-05 01:24] apaldiwal commented on #73
Done! I know you explained it earlier, but I'm still a little confused about how to count the unique code blocks in each example. It's a bit of a gray area really because there's a lot of ambiguity in how you split the code into functional blocks.

[2021-08-05 01:44] apaldiwal commented on #73
I feel 'per file' is a better option for code involving operations because you can't just pick and choose a block of code from the example and submit a PR in the repo. You have to fully incorporate the example in code while ensuring syntactical consistency with the existing examples. For example, https://developers.stellar.org/docs/glossary/claimable-balance/

On the other hand, for code involving

[2021-08-05 03:53] ralphilius commented on #73
Maybe we could link from the original PR so that we can have PR status in the review issue?

I think tThis type of bounty is typical if we want some organization to sponsor a bounty to maintain their documentation as well.

[2021-08-05 07:37] ralphilius opened #79 "🟣 `create-bounties` merged-pull-requests"
Name | PR
------|------
stellar-lab-albedo.md |https://github.com/tyvdh/stellar-quest-bounties/pull/9
stellar-lab-mobile.md |https://github.com/tyvdh/stellar-quest-bounties/pull/16

[2021-08-05 08:07] hanseartic commented on #79
It looks to me, like the title could be changed to '🟣 `create-bounties` merged-pull-requests' as both PRs mentioned are already merged.

[2021-08-05 10:37] ralphilius commented on #79
@hanseartic Updated. I saw other issue with the same code, so I think it's just for record keeping :)

[2021-08-05 13:25] tyvdh commented on #79
f828f9e6bb8f38e3d5e03a5b01c312ce6d5ba9f9069632d059c4958c44f0c70e

Nice work!

[2021-08-05 13:25] #79 closed

[2021-08-05 13:32] tyvdh commented on #73
Has he not done that?
![Screen Shot 2021-08-05 at 9 31 51 AM](https://user-images.githubusercontent.com/4383610/128358494-e9bf3d77-8d46-4d4d-a3ea-41bd4f4a1fab.png)

Or are you referring to something else?

[2021-08-05 13:41] tyvdh commented on #73
@apaldiwal I just updated your original tables with my proposed award amounts. Do they seem fair? No is a correct answer, I want this to generously reflect the work you put in such to properly incentivize future work along these lines so think for others and not just for yourself.

If anyone else would like to chime in here feel free.
cc: @rahimklaber @ralphilius @Kanaye @Smephite @ElliotFriend @h

[2021-08-05 13:56] ElliotFriend commented on #73
Why the difference between the two? It's been hard to keep up with all the discussions, so it's possible (rather, likely) that I've missed something.

At first glance 50 seems a bit low, but I have no real reasoning behind that, just kind of a "gut feeling."

[2021-08-05 14:18] rahimklaber commented on #73
I think the rewards are fair. To me it seems that part of the problem is making it fair for people of multiple experience levels. If you are experienced the rewards will probably a lot for you, since you will be able to write examples quickly. But if you are newer it will take you more time. I guess this is fair though,  experienced people should be paid more.

For now I think 50 xlm per block is

[2021-08-05 14:26] tyvdh commented on #73
Good question. If you look at the code blocks for the code being committed I see three distinct blocks of code in the changed file. Undoubtedly the first block is much more complex than others but I see a pretty distinct collection of blocks. So that was my logic.

It's a tricky balance between fair and algorithmic so folks have some sense of what to expect and it's not up to how generous I'm feel

[2021-08-05 14:44] ElliotFriend commented on #73
You mean to tell me I'm expected to actually *look* at something in its **entirety** before commenting???!!! Sir! This is the internet! That's not how it works around here.

(Hopefully the profuse sarcasm has come across well, and I don't just look like a giant asshole XD)

That makes perfect sense! It all sounds good to me 👍

[2021-08-05 15:16] apaldiwal commented on #41
I really like the UI for the website! I just have a minor issue for now, the logout button is a little bit weird.
Can we have the button label as 'logout' instead of an abbreviated public key?
![image](https://user-images.githubusercontent.com/73634107/128375003-d944a0e6-1e9a-479d-a444-af7b38b860af.png)

P.S. I have only started looking at the website, I'll have more reviews as I look through it.

[2021-08-05 15:24] ElliotFriend commented on #41
Thanks for the kind words! I agree it is confusing. I'll figure out something better for it.

Thanks!

[2021-08-05 15:41] apaldiwal commented on #41
I feel the quest description can be removed from the badges. It will make the badges more compact and honestly I am not sure if it is needed. It's just what I think, you don't have to change it :)

![image](https://user-images.githubusercontent.com/73634107/128379545-23694813-eef6-4d44-a52b-4dfe822c3b9f.png)

[2021-08-05 15:45] ralphilius commented on #73
Something like this one
![image](https://user-images.githubusercontent.com/4253551/128380144-3f4ba672-b77e-46d1-8e99-1dbc088c57ed.png)

I didn't know about hovering card, so that should be fine as well.

[2021-08-05 15:52] ElliotFriend commented on #41
I think I like having them. I was almost thinking of, like, Pokemon cards (or what-have-you), and thinking about information that I could include in that direction. I could make it one of the filterable things, though.

On a related note, the cards will display how much xlm you earned as a prize for the quest, if you earned any. But, that stuff doesn't show up right away. If you're looking at them

[2021-08-05 15:56] apaldiwal commented on #41
Maybe @Kanaye can help! He's my go to for all information related to Stellar. 😁

[2021-08-05 15:57] ElliotFriend commented on #41
^ SAME!!! ^ 🤣

[2021-08-05 16:11] tyvdh commented on #73
https://github.com/stellar/new-docs/pull/472
3b5481f434dee93cc1ebbe836623d7dd2147b37f9a578f569ea056d83aefc175

[2021-08-05 16:29] Kanaye commented on #41
🤣 has nothing todo with stellar in this case.
So summoning a stellar-wizard doesn't help.
The good thing is, I'm a js-wizard too 🧙

The tl;dr is: you're setting the prize on the result asynchronously *after* you've called `setQuester` so the store will never know about the change in data and react can never render it.

I'll take a look in a few minutes 😉

[2021-08-05 16:40] Kanaye commented on #41
https://github.com/ElliotFriend/sq-badge-checker/pull/1 fixes that bug 😉
I rewrote the js a little, so it's totally up to you if you like it and want to accept the PR

[2021-08-05 17:22] ElliotFriend commented on #41
Oh. My. God. 😳 I feel so honored!

Thanks for not only the information, but also for rewriting it! Amazing!!!! Thank you a thousand times!!

[2021-08-05 17:32] Kanaye commented on #41
Youare welcome!
Feel free to ask question about the code over on the PR if you've got some

[2021-08-05 22:46] hanseartic opened #85 "🔵 `create-bounties.md`"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [x] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

This is to showcase the progress to labels mapping

[2021-08-05 22:47] hanseartic commented on #85
sorry, please delete - link led to parent repo

[2021-08-05 22:47] #85 closed

[2021-08-06 02:56] rahimklaber opened #87 "Stellar accounts as a service"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [x] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

#86

[2021-08-06 07:30] ElliotFriend commented on #41
I think, functionally speaking, I've nailed down all the pieces I've wanted to include. Still need to document the stuff, and clean up the repo, I think. But! I'm happy with how it's working :-)

I'm still not going to flip the emoji switch, though, until I have more comments/docs in the code.

[2021-08-06 11:23] hanseartic commented on #87
This issue is exactly the use-case for #84: the progress was updated but not the issue-title.

[2021-08-06 13:58] Kanaye commented on #41
I'll need to look at the codebase a little more when you think that you're ready with it.
The only things I've found UX-wise are:
- the "show proof + account (and maybe date when the verification was created?)"-thing from discord
- if you don't exactly hit the checkbox/toggle button, but the background, the overlay will close. Nothing major but a little akward UX wise.
![grafik](https://user-image

[2021-08-06 14:06] ElliotFriend commented on #41
Yeah, that annoyed me about the toggles, too. I'll keep poking around with them and see if I can figure it out. Thanks!

[2021-08-08 15:08] rahimklaber opened #91 "Million Lumen homepage"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/million-lumen-homepage.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

github repo : https://github.com/rahimklaber/MIllionLumenHomepage

I will be writing this in Kotlin/Js, so I'll have to creat

[2021-08-09 15:01] tyvdh opened #92 "Example Bounty"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

TODO

[2021-08-10 01:23] ElliotFriend commented on #41
The perfectionist inside me is screaming "no, not yet!" But, I think I'm ready for review 😁

[2021-08-10 03:21] ElliotFriend opened #93 "Stellar docs code snippet"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/stellar-docs-code-snippet.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Horizon API Reference

| Name | Language |
| --- | --- |
| **Paths** | |
| List Strict Receive Payment Paths | [Python](/stellar/new-docs/pull/556)

[2021-08-10 14:53] tyvdh commented on #41
@ElliotFriend 4703a99824f5fc9d55cb100ed60154a8ebf73d2ccd8979241ca252da5cc5bb2d
@Kanaye 48c202b03891ca3932244434330b75f3a6c33cd0fc995762f10b8b7f014dbb2e
@apaldiwal 652d9a583e8fa82609a3d76e6b15e180d39fbafb3e189eca489e6ad14f3c4804

[2021-08-10 14:53] #41 closed

[2021-08-10 14:55] tyvdh commented on #23
@Kanaye
@apaldiwal
Are we happy with the review of this bounty? It's looking pretty 🔥  to me, any final thoughts or are we ready for payout?

[2021-08-10 14:59] Kanaye commented on #23
The only open (and I need to admit: not yet reported) thing I've got is that the page makes an invalid request on page load to horizon `https://horizon.stellar.org/accounts/`.
I guess the page tries to load the users account without having the public key.

Otherwise it looks good to me 👍

[2021-08-10 17:50] rahimklaber commented on #23
👍 I've fixed the error.

[2021-08-10 17:57] rahimklaber commented on #91
I think I'll probably end up writing functions in js when I need the Stellar SDK and create definitions for those functions instead. Tried writing definitions for the SDK, but it got quite complicated at some point.

[2021-08-11 03:29] ElliotFriend opened #98 "JavaScript SEP-0010 Server Reference Implementation"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

I am writing a bounty to create a reference implementation, in JS, for a server to run through the SEP-0010 authentication process.

[2021-08-11 04:44] ElliotFriend opened #100 "JavaScript SEP-0010 Client Reference Implementation"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

Pull Request #101

[2021-08-11 10:52] hanseartic opened #103 "Add account viewer to an existing project"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details
As per the [question in discord](https://discord.com/channels/763798356484161566/869565771586605136/874706680993161258) I am not

[2021-08-11 20:44] #23 closed

[2021-08-12 01:41] rahimklaber commented on #91
You can now buy pixels as follows:
![image](https://user-images.githubusercontent.com/21971137/129124782-5ef5d51e-d86a-46ef-aadb-2004b1d128d5.png)

You create a transaction with a memo : "millionlumen" and 2 operations. The first is a payment for the total number of pixels and second is a manage data op with the name containing the ipfs hash of an image you want to add and the value is "[WIDTH]x[H

[2021-08-12 01:49] ralphilius opened #105 "Video tutorials for Stellar-related subject"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

Pull Request https://github.com/tyvdh/stellar-quest-bounties/pull/107

[2021-08-12 02:00] tyvdh commented on #91
Made an attempt, seems it didn't work. 😢
https://horizon-testnet.stellar.org/transactions/f539c68ab7de669828cf9275b9914ea4b2a8b93ca898a93f832f14784694c0e7

[2021-08-12 02:02] rahimklaber commented on #91
I will check it out, also I will put the address in text, forgot about that.

[2021-08-12 02:26] rahimklaber commented on #91
I think the problem is that you put the manage data op first.

[2021-08-12 02:33] rahimklaber commented on #91
There seems to also be another problem where nothing renders unless you move your mouse over the canvas :(.

[2021-08-12 12:48] hanseartic commented on #103
To review navigate to the [PR's repo](https://github.com/hanseartic/stellar-claim/tree/add_account_overview) checkout the PR's branch and run `npm run start` in the checkout folder. You'll find the APP running on http://localhost:3000.

Enter a stellar-account in the searchbar or use the Freighter-button.

When showing an account, that has open offers you'll also see those in the table:
![grafik](

[2021-08-12 15:04] #87 closed

[2021-08-12 19:07] tyvdh commented on #105
6ca67fb61146610184a163975de9e97ed0fe3f1074f24edc09bc024722e91247

[2021-08-12 19:07] #105 closed

[2021-08-12 19:09] tyvdh commented on #103
I think it is entirely viable, however the spec still needs to be followed and one of the criteria is a live site so reviewers don't need to pull, install or run anything.

![Screen Shot 2021-08-12 at 3 07 57 PM](https://user-images.githubusercontent.com/4383610/129254623-2e3c8eaf-2f79-4c7a-b4fb-ee57f48f6b34.png)

[2021-08-12 19:10] tyvdh commented on #103
- https://vercel.com/dashboard
- https://surge.sh/
- https://codesandbox.io/
- https://stackblitz.com/

[2021-08-12 19:19] BlackBadPinguin opened #108 "basic-account-viewer by BlackBadPinguin"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

 https://github.com/BlackBadPinguin/basic-account-viewer

hosted websited link : https://ntqv7.csb.app/

[2021-08-12 19:49] tyvdh commented on #100
006b29eb3ccfd1a11410eb21320131241b828e7b2532890805d2440dd5a8c397

[2021-08-12 19:49] #100 closed

[2021-08-12 19:49] tyvdh commented on #98
006b29eb3ccfd1a11410eb21320131241b828e7b2532890805d2440dd5a8c397

[2021-08-12 19:49] #98 closed

[2021-08-12 20:14] hanseartic commented on #103
Sorry. You're absolutely right. Added the link.

[2021-08-12 20:46] tyvdh commented on #103
Looks good to me. Would love to get a couple more 👀  on it though.

We need to brainstorm surfacing reviewable tasks along with incentive / earn potential. To help push and advertise more reviewers. Maybe a GitHub Action tied to a unique page on the repo for building a table of all reviewable bounties along with earn potential. Could also do one for hunters to more quickly showcase bounty stats.

[2021-08-12 21:11] hanseartic commented on #103
Sounds reasonable!

[2021-08-12 21:19] hanseartic commented on #108
When getting around review-stage, you may want to include a PR to add a stellar address for your account to https://github.com/tyvdh/stellar-quest-bounties/blob/main/ADDRESSES.yml

[2021-08-12 21:21] BlackBadPinguin commented on #108
oh indeed, thanks for the advice

[2021-08-12 22:51] ElliotFriend commented on #103
Looks quite nice! It was already a very useful app to get ahold of claimable balances, but it's really good to be able to see the assets I'm already holding. Great work! Looking at the code now.

As for surfacing reviewable submissions, I think the table kind of thing would be great! It's hard to know what submissions have already been "claimed" by reviewers. How can we make that kind of thing kno

[2021-08-12 23:06] hanseartic opened #110 "Federation addresses for questers"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

PR: #109

### Discussed in https://github.com/tyvdh/stellar-quest-bounties/discussions/78

<div type='discussions-op-text'>

<sup>Or

[2021-08-12 23:11] ElliotFriend commented on #103
Looks well put together. The open offers displayed are a great touch, that I wouldn't have thought to include.

Also, enjoyed getting a chance to read through a real-life TypeScript app to get my head wrapped around it some more. Especially one that I didn't cobble together XD

Don't know how much weight I carry, but you've got stamp of approval!

👍

[2021-08-13 00:48] ElliotFriend opened #111 "SEP-0010 TypeScript Client Reference Implementation"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/sep10-javascript-client.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

Going to try this one in TypeScript, to get my hands dirty with it. Wish me luck 😄

GitHub Repository:

[2021-08-13 02:41] ralphilius opened #113 "Stellar accounts as a service"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-accounts-as-a-service.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details
Github Repo: https://github.com/ralphilius/stellar-aaas
PR from with Github Repo: https://github.com/ralphilius/stellar

[2021-08-13 15:17] hanseartic commented on #110
@tyvdh : approved by @ElliotFriend

[2021-08-13 18:29] tyvdh commented on #103
@hanseartic 2a10fb479a429a77415f65da011f48e61f769a0773015a9edbda32e789e81c5a
@ElliotFriend 2a10fb479a429a77415f65da011f48e61f769a0773015a9edbda32e789e81c5a

[2021-08-13 18:29] #103 closed

[2021-08-14 04:52] ElliotFriend commented on #111
I may have bitten off more than I can chew with the whole TypeScript thing, here... Back to my (mediocre at best) javascript Hehe

[2021-08-14 20:01] rahimklaber commented on #91
It is now possible to buy pixels, currently there is a flat fee of 1 xlm per image. Right now there is now indication that it succeeded so you will have to check the console, if it was succesfull the submit tx response is logged.

https://millionlumen.rahimklaber.me/?a=buy

[2021-08-18 06:53] hanseartic commented on #91
The page actually uses three operations:
![grafik](https://user-images.githubusercontent.com/1752217/129851676-c5497f56-52be-47ec-a77f-70650a4be0d1.png)

[2021-08-18 07:10] hanseartic commented on #111
Actually TS makes is easier... Especially because it will protect you from doing stupid things.

[2021-08-18 13:29] rahimklaber commented on #91
Yeah I changed it afterwards. The address is also differnet now.

[2021-08-18 19:38] rahimklaber opened #114 "Stellar accounts as a service"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-accounts-as-a-service.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

repo : https://github.com/rahimklaber/stellar-accounts-as-a-service

I'm a gonna try to implement it in kotlin.

hoste

[2021-08-19 10:47] BlackBadPinguin commented on #108
still working on it, but the albedo sdk is really hard to understand, at least for me

[2021-08-19 11:19] hanseartic commented on #108
If you opt to chose freighter it's much less complex. But you would need to do the 'login' a bit different as you can't sign a txt but rather transactions. Or you just opt to load the public key from the extensions and go with that as all the information you display is public anyways...

[2021-08-19 12:47] rahimklaber commented on #113
Hey according to the spec, your submition should be hosted online.

[2021-08-19 15:39] ralphilius commented on #113
Ah, I forgot. It is hosted at https://stellar-aaas.ralphilius.repl.co/

I'll update the post

[2021-08-19 16:30] rahimklaber commented on #113
I tried going to going/sending requests to the link but it's not working.  It just keeps saying waking up.

I also tried forking your code and running it with npm start on replit but that also doesn't work.  I tried running npm start in the root dir and src dir.
![image](https://user-images.githubusercontent.com/21971137/130107085-7b5cd211-d953-4bd2-9701-232adb09ce4a.png)

[2021-08-19 16:43] ElliotFriend commented on #113
Getting the same result when visiting the repl.it instance.

[2021-08-19 18:51] ElliotFriend commented on #111
That's what I was hoping at the outset. But, it felt way out of depth while I'm still wrapping my head around React, in general

[2021-08-19 19:08] MatejMecka opened #116 "Add Bounty: Claimable Balances in the Account Viewer"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

https://github.com/tyvdh/stellar-quest-bounties/pull/115

[2021-08-19 23:49] ralphilius commented on #113
Can you run npm start in the root project folder?

[2021-08-20 00:35] ralphilius commented on #113
Should be working now

[2021-08-20 02:27] rahimklaber commented on #113
I am getting this error. It probably works fine locally so for now I'll try to run it locally.
![image](https://user-images.githubusercontent.com/21971137/130169554-93c66a3a-0b1b-44dc-8263-203697aa06d3.png)

[2021-08-20 02:47] rahimklaber commented on #113
running it locally also doesn't work probably because it's using a replit db.

[2021-08-20 02:54] rahimklaber commented on #113
I got it to work. The endpoints are under `/api` which should either be mentioned or changed as it goes against the spec.

[2021-08-20 03:07] ralphilius commented on #113
OK. I've updated the README to include this behavior.

[2021-08-20 12:39] rahimklaber commented on #113
There are some things I think should probably be changed:
- The apikey you get seems to be the same everytime. To me this seems like a big security issue.
- Sending two request to `/pay` at the same time results in one of the requests returning a `404`
- Somehow I was able to pay when I didn't have enough balance, which resulted in a negative balance. The usernames I used are: `coolUsername` and `

[2021-08-20 15:56] tyvdh commented on #110
a374588bfeec077fafe7d9753bbe2edfa8b714d1deae337ec5594359b33b2f87

[2021-08-20 15:56] #110 closed

[2021-08-20 17:13] ralphilius commented on #113
@rahimklaber
Thanks for the review and feedback. Before jumping into replies, I would like to make it clear that we are doing a proof of concept for custodial account using muxed accounts, so many minor details have been ignored. If we were to add them, the requirements should be very long.

That's why it's called API Key, isn't it? Otherwise, you should have said access token in the spec.

Did yo

[2021-08-20 17:56] rahimklaber commented on #113
You are right.

I sent two different payment request from two different accounts at around the same time. I think I was mistaken though, it didn't return a `404` but a `500`.

While not explicitly mentioned, I'd argue that it is obvious that users of the service should be able to receive XLM. If other reviewers disagree with me then that's also fine. @Kanaye  @hanseartic @ElliotFriend What do you

[2021-08-20 18:51] rahimklaber commented on #113
On second thought I kinda agree with you.

[2021-08-22 16:53] hanseartic commented on #113
Definitely should show up. If some amount is sent to the M-address that *must* reflect on the user's balance.

Depends on the environment you are running in. In AWS for example it is common practice to provide your secrets via environment variable to the services.

[2021-08-23 06:59] ralphilius commented on #113
@hanseartic @rahimklaber

I've added payment listening for muxed account and passively accrediting an account under `/api/deposit/:txHash` endpoint in case server stopped working.

[2021-08-23 07:22] rahimklaber commented on #113
@ralphilius

The only thing that is missing for me is the ability for multiple payment request to be served at the same time. Currently, when multiple payment requests are made to the server at a round the same time, only one succeeds. This is due to all of the transactions using the same sequence number.

An easy way to do this is to protect the function where the payment is made with a mutex. Al

[2021-08-23 08:34] hanseartic commented on #113
You could also just retry, when the transaction fails with `bad_sequence`. This will also protect from overspending the base-account - first come, first serve.

[2021-08-24 04:51] ralphilius commented on #113
@hanseartic @rahimklaber
I've added retries in case of `tx_bad_seq` for paying external account

[2021-08-25 09:29] ralphilius opened #118 "Federation server implementation"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/federation-server.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details
 - Repo: https://github.com/ralphilius/sqb-federation-server
 - Link to test:
   - UI: https://fs.ralphilius.com
   - API: https://

[2021-08-26 15:31] DieKautz opened #119 "Implement a federation server for stellar addresses"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/federation-server.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

GitHub: https://github.com/DieKautz/stellar-federation-server#readme

Test it at:
 - https://ssfs.diekautz.dev
 - and `https://ssf

[2021-08-27 23:06] BlackBadPinguin commented on #108
now everything should work, but I'm still working on hosting it with GitHub pages

[2021-08-27 23:14] BlackBadPinguin commented on #108
if the hosting on codesandbox is enough it should be ready for review

[2021-08-27 23:38] hanseartic commented on #111
A tiny thing from UI. You are using a validation on the home-domain form that expects a 'internet-address' with scheme:
![grafik](https://user-images.githubusercontent.com/1752217/131198272-61d6a5e5-d91f-4d07-87bb-db006e84519d.png)
The red border disappears as soon as a scheme is added
![grafik](https://user-images.githubusercontent.com/1752217/131198296-68025ef6-a5fd-4ab7-9499-de7b03d87b18.png)

[2021-08-27 23:44] hanseartic commented on #108
The scrollin is somehow messed up. With many assets you can't see the top of the page anymore:
![grafik](https://user-images.githubusercontent.com/1752217/131198578-7d4d4915-f41f-444b-8130-842de5249e75.png)

[2021-08-27 23:52] ElliotFriend commented on #111
Thanks for catching that!

[2021-08-28 00:15] BlackBadPinguin commented on #108
That scrolling is odd, will look into it, also thanks for the advice with the stellar sdk, somehow I didn't now about it

[2021-08-28 01:34] BlackBadPinguin commented on #108
i change the layout a bit, made it a bit easier , and now it should work

[2021-08-29 18:18] ralphilius commented on #113
@hanseartic @rahimklaber I'm marking this as review completed unless you want to add something else.

[2021-08-29 20:09] DieKautz commented on #119
I made some progress over the last days and can't wait to hear your feedback

[2021-08-30 19:19] rahimklaber commented on #119
This looks really nice.

I haven't tried everything but from what I can tell it works really well. I will take a look at the code and test it more indepth later.

Also, nice to see kotin being used.

[2021-08-30 19:28] ElliotFriend commented on #108
Looks like the functionality is right on, according to the specs. When I resize my browser, it seems to scroll fine. Works well on mobile, too!

Couple things I noticed:

- For me, pulling up the js console in my browser results in a bunch of these warnings: `Warning: Encountered two children with the same key, `SQ0205`. Keys should be unique so that components maintain their identity across updat

[2021-08-30 21:07] BlackBadPinguin commented on #108
Hello Elliot, thanks for your response, I muted the Errors because as you said, it's just a minority. Also, I tried to not use the array map, but that somehow didn't work, I think react just wants an array for JSON parsing, but it's also my first React project so I really don't know. Last but not least I now added the License.

[2021-08-30 21:57] BlackBadPinguin commented on #108
Can I now set the Status to review completed? Or do someone else have to give their approval?

[2021-08-30 22:03] ElliotFriend commented on #108
Great question! The bounties are still a bit new, so we're kinda figuring things out as they go.

I'm happy to give my "official" stamp of approval. @hanseartic anything more to add to it?

Does @tyvdh have to give the final approval?

[2021-08-31 19:38] DieKautz commented on #114
I looked a bit into your endpoints and your api seems pretty sophisticated 😃

I don't know whether I covered every endpoint and result, but I found two oddities in the /pay endpoint

1. I might triggered a timeout on the /pay endpoint by trying to send less than a stroop to a valid account id.
2. By leaving exactly one stroop in my account I got "5.9604645E-8" as a balance from the /info endpoint

[2021-09-01 05:39] hanseartic commented on #108
The code and result looks ok to me, too.
I have a few remarks left, still:
* UX
  * After being logged-in with albedo I'd rather expect a 'logout' button
  * If there are mutliple assets with the same name in an account (as for example in my screenshot above) you don't know which is which. Could be a nice addition to also show either the domain or the asset-isser. It was not part of the bounty spe

[2021-09-01 07:43] hanseartic commented on #119
From my side 💯
This is a really nice implementation with all the details you'd like to have around a service ready-to-use!
Looks almost like we've got a drop-in federation-server for discord-mapping now!

* From privacy-perspective I don't know about the `/federation/all` endpoint. It's not in the spec and should maybe hidden behind a feature-flag to be only accesible in a non-prod environment.
*

[2021-09-01 16:39] DieKautz commented on #119
Nice to hear that!

- I hat forgotten about `/federation/all` in production. As an admin can simply ask the database for debugging, I removed the endpoint completely
- The general fields for `stellar.toml` can now be configured in the `application.yml`. Maybe I will add other entites later.
- You are probably referencing [developers.stellar.org](https://developers.stellar.org/docs/glossary/federat

[2021-09-01 21:19] BlackBadPinguin commented on #108
Thanks for your detailed response, I now renamed the variables, as well as adding the build folder to the gitignore.  I think the License needs my name because I'm the Copyright Holder, referring to https://opensource.org/licenses/MIT. I will look into the logout button and the asset issuer idea.

[2021-09-01 22:31] ElliotFriend commented on #108
I've always had this same understanding of the MIT license, as well. At least, that's how I've used it and seen it used.

[2021-09-02 05:22] hanseartic commented on #119
✅

✅

Ok. There's a difference. That should probably be fixed on either side. I'd go with the actual spec then. So also here good to go

The last thing I only noticed now is that the cors-headers
![depicting cors](https://user-images.githubusercontent.com/1752217/131786351-d43696ee-68d9-4207-b2fb-0cbfc5655918.png)
are not being set. This is mandatory and should be fixed.

[2021-09-02 14:30] DieKautz commented on #119
I had some CORS enabled, but only for requests to valid endpoints. Now its enabled for every request descending from `/federation` 😁

[2021-09-02 15:45] hanseartic commented on #119
🚀 : from my side good to go!

[2021-09-02 17:24] rahimklaber commented on #91
Thanks, for the feedback.

I will change the switch-to-testnet functionality to make it better.

I'll also add a Licence to the repo.

I think the project is pretty small and it should be easy to understand the code. Is there anything in particular you think is hard to understand?

As for the invisible pictures, yes it is intended.

[2021-09-02 17:27] DieKautz commented on #119
What happens now?
Should I tag tyvdh or request review from somebody else?

[2021-09-03 13:39] Kanaye commented on #119
I took a look and most things look good to me.
Only 2 things I can think about:
* The page states that you want to implement more social-services for signon. You may want to think about how to handle name collisions between services. For github and discord it shouldn't matter as you can't use "#" in usernames on github afaik. But just something to keep in mind.
* Discord (with Nitro) lets you chan

[2021-09-03 19:25] hanseartic commented on #119
Can you try this with `fraggedreality#4336` (I don't have nitro)?

[2021-09-03 20:14] Kanaye commented on #119
Nevermind, they've changed it some time ago (I even remember reading about it) and nick + discriminator combinations are unique now. So at least that isn't a concern for now.

[2021-09-04 13:19] DieKautz commented on #119
That's one thing I thought about too. For the POC and bounty I went for discord first, seemed to me as the most useful service.

But you're right when adding more services beyond a second one there will be collisions this way.
I don't see any reason to change it for discord, because their style of user handles is quit unique among the common platforms (to keep it short).
My Ideas were:

 * using '

[2021-09-04 13:39] rahimklaber commented on #114
@DieKautz  Thanks for the feedback.

It should work correctly now. Now, when sending less than a stroop you should get bad request.

Kotlin is awesome indeed.

[2021-09-04 17:00] hanseartic commented on #119
I think for the scope of the bounty the current design is fine.

For more services I'd prefer the 2nd option.

But overall it would be a case-by-case decision anyways as services have different ways of formatting users.

[2021-09-04 17:04] Kanaye commented on #119
Yeah for the scope of the bounty it's fine!
But I'd prefer the third subdomain-variant. As it doesn't restrict the allowed characters in third-party-services usernames (other than the restricted characters mentioned within the spec).

[2021-09-04 17:40] Kanaye commented on #118
As mentioned on discord:
Loggin in with github / discord redirects me to `https://github.com/codespaces/auth/ralphilius-sqb-federation-server-r96jgjrfwprg?port=3000&<redacted access token stuff>` after hitting supabase, so can't test further.
Haven't tried email login yet though.

The federation endpoint doesn't send back error content like mentioned in the [spec](https://github.com/stellar/stella

[2021-09-04 17:44] Kanaye commented on #118
![login screen](https://user-images.githubusercontent.com/5108989/132103666-ed778e14-ff53-4f6b-ac63-7f0bdc2da160.png)
Just hitting the "sign in with magic-link"-button without entering an email address, shows a "success" message.
I'd expect some kind of "required field" error as ... good luck sending an email to "".

[2021-09-04 21:49] DieKautz commented on #119
I added login with GitHub capabilities and implemented the latter option for the same reason.

@tyvdh might want to take a look and pull #122. Should be approved by @hanseartic and @Kanaye

[2021-09-04 23:25] DieKautz commented on #114
It's fixed as far as I can tell.

The whole application seems very mature as part of this bounty.
I don't know whether its sensible to set no restrictions on usernames and passwords in production, but that shouldn't be a big problem here as this is just an API in in the deeper backend. (in production users would've already been created and handled elsewhere?)

#### Review criteria from bounty file

[2021-09-05 03:40] ralphilius commented on #118
@Kanaye Thanks for feedback. I've provided fixes for below issues:

:white_check_mark:

I'd expect some kind of "required field" error as ... good luck sending an email to "".

:white_check_mark:

[2021-09-05 10:07] rahimklaber commented on #114
@DieKautz  I agree with what you said about the usernames and passwords. I will change it. Thanks.

[2021-09-05 11:40] hanseartic commented on #119
Looks still good. Obviously this decision makes the setup more complex as you need to host a toml-file on all the service-subdomains as well (what you did). Still also my preferred option.

[2021-09-06 15:30] BlackBadPinguin commented on #91
No, not for me, but I think for people who are not used to coding some parts are not easy, however, from my standpoint, it's ready for a reward, even though I don't know if I'm permitted to give the approval.

[2021-09-07 15:33] rahimklaber commented on #91
👍 I think the comments are fine then. As far as I remember you are allowed to approve. I think we discussed that for now anyone can review.

[2021-09-07 20:16] tomkiljo opened #123 "Basic account viewer implementation"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

Repository: https://github.com/tomkiljo/sqb-basic-account-viewer
Demo site: https://ny5k5mto.z6.web.core.windows.net/

[2021-09-09 12:23] Smephite commented on #123
Looks good to me

Only thing to note :

In your readme you state

But your demo only shows Albedo as an option

I'm not _that_ experienced with react but it looks allright. Maybe @hanseartic can step in?

[2021-09-09 15:29] hanseartic commented on #123
From UX I am a bit confused about the links to laboratory because they are not specific. Did you mean to link to stellar.expert?

[2021-09-09 16:01] tomkiljo commented on #123
All three web wallets are supported but Freighter and Rabet (typo in readme says Albedo, to be fixed) are shown only if they are enabled in the users browser (filtered [here](https://github.com/tomkiljo/sqb-basic-account-viewer/blob/df68337d3e8f044a76fe6b3a9e0313891f959b21/src/components/WalletModal.tsx#L100)). Attached a screenshot from my browser with all three enabled.

![image](https://user-im

[2021-09-09 16:34] tomkiljo commented on #123
Updated the readme and the links to point to stellar.expert. Changes pushed to repo, demo site updated as well.

[2021-09-09 19:40] hanseartic commented on #123
Alright, got it. What do you think about hinting the user which ones can be uses by having disabled state?
<img width="274" alt="grafik" src="https://user-images.githubusercontent.com/1752217/132751777-12d712b5-290e-4aac-82b8-c1c7202ef95e.png">

[2021-09-10 10:32] tomkiljo commented on #123
Many thanks for your comments and insights, great stuff about the operations and balances to keepi in mind for future :+1:

I've updated the wallet selection to include all three wallets and display notification for unavailable wallets.
![Screenshot from 2021-09-10 13-07-23](https://user-images.githubusercontent.com/11896368/132839736-c20c4c1d-8972-46ab-ba62-76621c4fa7a7.png)

Updated the logic fo

[2021-09-10 16:16] tomkiljo commented on #123
@Smephite @hanseartic , any other comments/requirements, or is it ok to mark the bounty as review completed? Already eyeballing next bounty the hunt 😄

[2021-09-10 16:56] hanseartic commented on #123
🏁 from my side. really nice first controbution 👏🏼

[2021-09-10 17:12] Smephite commented on #123
+1 from me as well! Good job! Looking forward to seeing more submissions from your end :)

[2021-09-10 17:45] tomkiljo commented on #123
Thank you both :partying_face:

[2021-09-18 19:40] tomkiljo opened #125 "Stellar Accounts as a Service"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-accounts-as-a-service.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

GitHub repo: https://github.com/tomkiljo/stellar-accounts-as-a-service

[2021-09-19 14:18] tomkiljo commented on #125
Demo installation for the service available in:
- API endpoint: https://func-1ab85fe6.azurewebsites.net/api
- Relay status: https://app-1ab85fe6.azurewebsites.net

Missing some sanity checks from at least the `/pay` endpoint, to be updated.

[2021-09-19 17:55] tomkiljo commented on #125
Feels like ready for a review round. A bunch of the database level payment logic is done with stored procedures so it's worth while checking out the [schema](https://github.com/tomkiljo/stellar-accounts-as-a-service/blob/main/db/schema.sql).

[2021-09-20 10:53] Firdausfarul opened #126 "Basic Account Viewer by firdausfarul"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

Repository : https://github.com/Firdausfarul/StellarAccountViewer/tree/master

Demo : http://firdausfarul.me/StellarAccountView

[2021-09-21 15:19] fpbrault opened #128 "Basic Account Viewer by fpbrault"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

Repo: https://github.com/fpbrault/stellar-basic-account-viewer

Demo: https://stellar-basic-account-viewer.vercel.app

[2021-09-26 10:31] raeesnazeer opened #130 "Basic Account Viewer by raeesnazeer"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

_No response_

[2021-09-26 14:58] fpbrault opened #131 "JavaScript SEP-0010 Server Reference Implementation"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/sep10-javascript-server.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

Repo: https://github.com/fpbrault/stellar-sep-0010-server

Demo: https://stellar.beign.es/
Swagger: https://stellar.beign.es

[2021-09-26 15:00] fpbrault commented on #131
Using Nest JS for this, since I wanted to learn working with it, and it seems like a good fit for this project.

[2021-09-27 20:22] fpbrault commented on #131
Added a link to the server (and Swagger API). I'm using heroku free, so the server will shutdown if idle for some time. Should take at most 30 seconds to restart though.

Most functionality is present. Waiting for memo and client_domain support to be added in js-stellar-sdk, but I may decide to implement it on my own if it takes too long.

I've also added a protected endpoint (https://stellar.beig

[2021-09-28 11:47] hanseartic commented on #125
Thank you for your submission! As you may have noted it's a bit quiet around here. Still you did not go unnoticed. Bear with us and thank you for your patience.

[2021-09-28 11:53] hanseartic commented on #126
Thank you for your submission!
I did not go into details, yet but what I caught upfront is the non-functional `https` connection:
![image](https://user-images.githubusercontent.com/1752217/135081505-d93d22b7-2ff3-4f80-83bf-aa933bcaa68d.png)
Even though everything should be handled in the browser it's essential for the trust to provide a secure connection. I would really appreciate that being chang

[2021-09-29 13:36] raeesnazeer commented on #128
That looks neat!

Everything seems to be working fine and passes all the requirements of the bounty.

You consider adding a message for Rabet and freighter if it's unavailable something like the below example, else feels like it's not working.
![image](https://user-images.githubusercontent.com/8734009/135278844-7a3fe812-310a-44b3-bfb5-cf9daa0b46b8.png)

Rest everything 🟢 from my side.

[2021-09-29 13:46] raeesnazeer commented on #126
That Looks good, it passes all the conditions required for the bounty, but the log out button being visible even before logging In makes it look odd. you can try making it visible only once the user logins.

Other than that it's good to go!

[2021-09-29 17:16] fpbrault commented on #128
I made the change, buttons will now be disabled and hovering over them shows a small message. Due to how Rabet and Next.js work, I had to add a small delay before the wallet check.

[2021-09-29 17:51] raeesnazeer commented on #128
Good job!

The review is completed from my end. Looking forward to more submissions!

[2021-10-03 16:09] rahimklaber commented on #114
@DieKautz  I finally got around to working on this again. On further thought I agree with you that this server probably shouldn't handle the registration/login. However, I did add a very simple username/password checker that can be extended to support more rigorous checking.

[2021-10-03 16:57] rahimklaber commented on #125
I had a look and It seems like the `/info` endpoint doesn't update when a user receives XLM. I checked the relay status page, and it seems to have processed the transaction, but it `info` endpoint is not updated.

This is the address I sent XLM to : `MAMLLORKHRKYR2ODW23RKFBGXSMZLDOGUZEKN5WULD7CLUVPMGSPIAAAAAAAAAAANQYFM`

[2021-10-04 10:49] rahimklaber commented on #118
Your toml file seems to be outdated, the federation server entry is set to a vercel endpoint.

When going to `https://fs.ralphilius.com/.well-known/stellar.toml` a download prompt appears instead of showing rendering the toml in browser. While this doesn't go against the toml spec, I still think the toml response should be `text/plain` instead of `application/toml`, so that it can be rendered in t

[2021-10-04 13:50] tomkiljo commented on #125
Thanks for the comment @rahimklaber. I checked it out and had there was a bug in the db schema where stored procedure parameters should have been BIGINT instead of INT. Fixed the schema and restarted the relay and I can see the deposit is now handled correctly. See the [commit](https://github.com/tomkiljo/stellar-accounts-as-a-service/commit/62a604bbb4a1547a83c563ef5c9dba1a0f7919e0) for more detai

[2021-10-04 19:00] boonku opened #133 "Basic Account Viewer by boonku"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

Repository: https://github.com/boonku/boonku.github.io

Demo: https://boonku.github.io

[2021-10-05 13:35] raeesnazeer commented on #133
Hello,

Looks good, but why have you disabled the Freighter and Rabet buttons?

[2021-10-05 13:45] Kanaye commented on #133
Take a look at the codebase:
https://github.com/boonku/boonku.github.io/blob/6f53daa214ba91aeeb1dd71f1cd3b52c4ced6dd2/active-buttons.js#L1-L6
the buttons are disabled, when the extensions aren't installed/available, which makes sense imho.

[2021-10-05 14:05] raeesnazeer commented on #133
![image](https://user-images.githubusercontent.com/8734009/136039076-22b875dd-7094-4338-8d50-680311e2eec1.png)
I have the rabet extension installed, but it still remains disabled.

[2021-10-05 14:17] rahimklaber commented on #125
Alright, I think I've checked everything. Everything seems to be fine except for two things:
- If two users try to pay using the service at the same time, one request will succeed while the other one will return a `500` response code.
- Sending payments to muxed accounts results in a `404`.

[2021-10-05 18:15] boonku commented on #133
It should be working now. I have also added tooltips for buttons to show why they are disabled.

[2021-10-05 18:19] raeesnazeer commented on #133
Yes, it's perfect now!

Good job! The review is completed from my end. Looking forward to more submissions!

[2021-10-05 19:11] rahimklaber opened #135 "TypeScript SEP-0010 Server Reference Implementation"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/sep10-javascript-server.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

github repo: https://github.com/rahimklaber/Typescript-SEP10-Server

[2021-10-05 19:36] boonku commented on #133
Thanks

[2021-10-06 15:36] tomkiljo commented on #125
@rahimklaber I've created a fix for the issues you encountered in this [commit](https://github.com/tomkiljo/stellar-accounts-as-a-service/commit/92b472fb7ac5dfbf4705533999bc4698af71fd81). Demo environment updated.

Sequential payment operations from the custodian account are now forced by a pessimistic payment lock. Underneath utilizing Azure Blob Storage lease mechanism for this. If the lock is n

[2021-10-08 19:50] raeesnazeer opened #139 "Custom token generator"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

https://github.com/tyvdh/stellar-quest-bounties/pull/138

[2021-11-04 21:39] fpbrault commented on #131
client_domain support has been added to the sdk so I'll be able to finish this soon :)
https://github.com/stellar/js-stellar-sdk/pull/720

[2021-11-09 18:02] Smephite commented on #42
Do we think this ready for reward?

[2021-11-22 09:32] Kanaye commented on #42
I've reviewed the code (and ... doing this in wasm is even more pointless than I thought :rofl: )
But yeah, looks good to me!
So go :purple_circle: !

[2021-12-11 21:48] LorDDark6660 commented on #114
Link in description not working :
https://stellar-wallet.azurewebsites.net

[2021-12-11 21:57] LorDDark6660 commented on #126
if I'm trying to connect from a mobile device it appears that I'm connected even when I'm not, it would be good to post some error message
![Screenshot_2021-12-11-22-51-53-10_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/92062140/145692806-7f34b241-8fdd-4a53-a56f-e73a4b2a4a41.jpg)

[2021-12-12 07:09] LorDDark6660 commented on #118
After click on github login button, redirect me to https://rlfvrtezidqemlcgvjfo.supabase.co/auth/v1/authorize?provider=github, but page don't load

[2021-12-12 07:15] LorDDark6660 commented on #118
After login with email, popup message mail was send, but email not arrived.
![Screenshot_2021-12-12-08-11-56-36_40deb401b9ffe8e1df2f1cc5ba480b12](https://user-images.githubusercontent.com/92062140/145703847-12faa4f8-7c1e-41f2-881c-d3405cd1f533.jpg)

[2021-12-12 12:55] rahimklaber commented on #114
https://stellar-wallet.azurewebsites.net

@LorDDark6660 only specific endpoints are accecible. Seems to work fine for me.

[2021-12-15 14:12] #42 closed

[2021-12-15 14:15] tyvdh commented on #91
Can you get the testnet stood back up so I can review this? Thanks!

[2021-12-15 14:22] tyvdh commented on #113
Reviewing this now. Is the repl still live? It's stuck waking up for me.

[2021-12-15 14:27] #119 closed, assigned to nobody

[2021-12-15 14:35] tyvdh commented on #123
`15e2fb458e4f5df9806d96f70f1a5c68d3d8345271c98e75fe54a1a7e5b7da2f`

[2021-12-15 14:36] #123 closed

[2021-12-15 14:39] tyvdh commented on #125
Any chance you could stand this back up? https://func-1ab85fe6.azurewebsites.net/api seems to be 💀

[2021-12-15 14:41] tyvdh commented on #128
`89b34e363e44161016b99b04e1639ff6b3dfe37e2ec67edb903ed0e7d775764a`

[2021-12-15 14:41] #128 closed

[2021-12-15 14:44] tyvdh commented on #133
`2c912df8971be87c9b1c0edb42ed632318015d1ae9b9e580869a53749a7222ff`

[2021-12-15 14:44] #133 closed

[2021-12-15 16:33] tomkiljo commented on #125
It's back up, my custodian account was gone due to testnet reset :smile:

[2021-12-15 16:37] rahimklaber commented on #91
@tyvdh It should be up again.

[2021-12-15 17:55] tyvdh commented on #108
`d560148aa9214aebc2e3ada0d3df985425789b7a19e4f1e906318ead1a4aad42`

[2021-12-15 17:55] #108 closed

[2021-12-15 17:57] tyvdh commented on #125
@tomkiljo
![Screen Shot 2021-12-15 at 12 57 29 PM](https://user-images.githubusercontent.com/4383610/146239931-fb7de9e7-3a7f-4570-bbb5-0b515fb3dd0c.png)

[2021-12-15 18:09] tomkiljo commented on #125
@tyvdh the api root doesn't return anything, https://func-1ab85fe6.azurewebsites.net/api/[register,login,info,pay] endpoints have handlers as defined in the spec.

[2021-12-15 18:13] BlackBadPinguin commented on #126
For me, it works fine on mobile and desktop @LorDDark6660

Now onto your submission @Firdausfarul, the code looks fine and is well documented, maybe some spelling errors in the comments, but apart from that, it looks very decent. It does exactly what is proposed in the Bounty and the Website is well-formatted. I especially like the logout button which is a nice addition.  Also that you have alerts

[2021-12-15 18:25] BlackBadPinguin commented on #118
Hello, would have liked to test your implementation, however, if I try to log in with discord I get forwarded to `https://rlfvrtezidqemlcgvjfo.supabase.co/auth/v1/authorize?provider=discord` which gives me an  `NAME_NOT_RESOLVED` Error.
same with GitHub. Also, the Email seems to never actually get sent out.

[2021-12-15 18:49] tyvdh commented on #91
Purchased but the image isn't showing up. The space appears to be claimed but the image doesn't render in

[2021-12-15 18:58] tyvdh commented on #125
I'm dumb haha. Working fine now. So I'm able to get all the way to /info where the balance is `0` but when I use laboratory to pay the muxed address the balance is still 0. Is this expected? How can I get into a state able to make a payment from the muxed address?

[2021-12-15 19:04] tyvdh commented on #114
`559134a441c1251edbd37ae880455a1473a72b1af4d84e3c85f4aa8603fcf103`

[2021-12-15 19:04] #114 closed

[2021-12-15 19:08] rahimklaber commented on #91
@tyvdh It take long to load initially. It should show up after a bit.

[2021-12-15 19:27] tomkiljo commented on #125
Had to restart the relay that's listening for custodial account transactions, it had died probably due to testnet reset :smile: I see the payment is now processed and should show up in `/info`

[2021-12-15 20:32] tyvdh commented on #91
Nice! Got it

[2021-12-15 20:35] tyvdh commented on #91
`05d842c817385f99f762d1b284cd763c326ef9ecbeeb0fa9d3ba9271c950533f`

[2021-12-15 20:35] #91 closed

[2021-12-15 20:38] tyvdh commented on #125
`08aa497344ba08ff0546bcd4f2417bc21a287c463e6d752fdf462422a84a6111`

[2021-12-15 20:38] #125 closed

[2021-12-16 05:38] hanseartic commented on #116
@tyvdh  as you closed the PR (#115) could this then be moved to the next phase?
![grafik](https://user-images.githubusercontent.com/1752217/146314463-82f2d66d-2bb4-445c-98b2-472dfab53d27.png)

[2021-12-16 13:33] tyvdh commented on #116
Yep!

[2021-12-16 13:35] tyvdh commented on #116
`2fc601ce31b73c6dd1bf2de34995438ac743fcab143e1799ac33033b7d58cba1`

[2021-12-16 13:35] #116 closed

[2021-12-16 16:29] alejomendoza commented on #126
@Firdausfarul When you reject the connection with Freighter the ui looks as you are still trying to connect. I like this is super simple viewer, but still some error handling to do.

[2021-12-17 11:01] MatejMecka opened #144 "Tangem XDR Signer"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/pull/143

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

This is a draft 0.0.1 so a lot of things might need changing

[2021-12-19 14:26] w00kie opened #145 "Stellar Account as a Service - Django implementation"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-accounts-as-a-service.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

Did a python implementation with Django and Django REST Framework.

Repo: https://github.com/w00kie/saas-bounty-django

[2021-12-19 15:33] rahimklaber commented on #145
Calling the pay endpoint with curl:
[code]
gives this error: `curl: (92) HTTP/2 stream 0 was not closed cleanly: PROTOCOL_ERROR (err 1)`

Same thing happens with the register endpoint.

Making a request with Java, gives this error: ` unexpected content length header with 204 response`.
The response seems to go against the Http spec : https://github.com/OasisLMF/OasisPlatform/issues/67

[2021-12-19 15:49] w00kie commented on #145
Yeah, I was returning a message when 204s should have no content at all. Fixed now.

I also fixed a race condition when you pay yourself.

[2021-12-19 23:15] rahimklaber commented on #145
Everything seems to work. I think you can mark it as completed unless you want someone else to review.

Though, I am curious how you made it so multiple people can pay at the same time. I didn't see anywhere where that was handled and yet it worked fine.

[2021-12-20 01:34] w00kie commented on #145
Yeah, after reading the review on other proposals I realized there was gonna be an issue here. But the beauty of being stingy with memory on my production server is that I set it up the service with just a single gunicorn runner, so nginx makes you wait in line for payment automatically 😁

Now if I had to do it in production, I'd probably decrease the user's balance on the spot, store pending paym

[2021-12-20 13:36] vishwaskamath opened #146 "Basic Account Viewer by vishwaskamath"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

_No response_

[2021-12-20 17:21] fpbrault commented on #131
This is pretty much completed at this point.

[stellar.beign.es](https://stellar.beign.es/) runs on the public network, but my dev instance is on the testnet: [powerful-everglades-30138.herokuapp.com](https://powerful-everglades-30138.herokuapp.com/)

[2021-12-24 05:13] sohanrai opened #147 "Basic Account Viewer by sohanrai"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

Repo: https://github.com/sohanrai/Basic-Account-Viewer-for-Stellar

Demo: https://sohanrai.github.io/Basic-Account-Viewer-for-S

[2021-12-24 05:14] Rachanashenoy20 opened #148 "Basic Account Viewer by Rachanashenoy20"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

Repo: https://github.com/Rachanashenoy20/stellarquest-bounties/tree/main

Demo: https://rachanashenoy20.github.io/stellarquest-

[2021-12-24 06:09] raeesnazeer commented on #147
Hello,

Please share the demo link.

[2021-12-24 18:54] raeesnazeer commented on #147
Everything looks fine and works well, only one mistake is the freighter button when not installed goes to the rabet.io link, fix that and rest is good to go.

[2021-12-27 07:06] raeesnazeer commented on #148
Hello!

Everything looks good and working as intended. The review is completed.

[2021-12-28 03:31] ralphilius commented on #118
@BlackBadPinguin @LorDDark6660 My supabase instance was paused for inactivity. Let's try again since I've unpaused it.
Thanks

[2021-12-28 04:01] ralphilius commented on #113
@tyvdh Please try again. Some environment variables were removed so it couldn't load.

[2021-12-29 14:50] DieKautz commented on #148
When comparing your submission to the one by @sohanrai #147, there appears to be a lot of similarities: [diff of index.html](https://www.diffchecker.com/7hya5zU2)

As he is the one with the earlier timestamps, I suspect you took some inspiration from him without putting extensive own work into building it yourself.

/request for close @tyvdh

[2021-12-29 15:18] sohanrai commented on #147
Yes, the issue is fixed.

[2021-12-29 19:39] Kanaye commented on #147
I'd personally prefer to move the script to it's own file, just looks cleaner.
And to use either a DOM-Api (`document.createElement` and similar) to modify the DOM instead of `innerHTML`  as it doesn't leave your app open for XSS attacks.
In this case it shouldn't matter much as the only user provided value is the asset code which got enough limitations to mitigate most if not all XSS attacks.
So

[2022-01-01 14:03] rahimklaber commented on #131
I checked it out and aside from a few minor issues, I think its good to go.

There are two minor problems:
1. the swagger docs is incomplete  at some places. It doesn't show the responses that the server sends.
2. When posting the xdr, the server responds with response code `201` instead of `200`.

There is something else which I'm not sure is a problem:
I am using the Java SDK to verify the chall

[2022-01-01 15:01] vinamogit opened #150 "Basic Account Viewer by vinamogit"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [X] 🟣&nbsp; Review completed

### Provide relevant details

Github repository: [https://github.com/vinamogit/stellar-account-viewer](https://github.com/vinamogit/stellar-account-viewer)

[2022-01-01 23:56] fpbrault commented on #131
There actually was a problem with how my code was handling muxed accounts! I fixed that, and improved the swagger docs to add reponses (including examples)

Tell me what you think :)

[2022-01-01 23:57] fpbrault commented on #131
There actually was a problem with how my code was handling muxed accounts! I fixed that, and improved the swagger docs to add reponses (including examples)

@rahimklaber Tell me what you think :)

[2022-01-03 15:08] #148 closed

[2022-01-03 15:14] tyvdh commented on #113
Still not working. `POST` to https://stellar-aaas.ralphilius.repl.co/api/register just hangs indefinitely

[2022-01-03 17:09] ralphilius commented on #113
@tyvdh Could you try to hit `Run` [here](https://replit.com/@ralphilius/stellar-aaas?v=1) before trying? I can `POST` to the said endpoint successfully.

[2022-01-03 18:52] tyvdh commented on #113
Alright endpoints are working. How often are balances updated? Made a payment which was successful but the /info endpoint hasn't updated yet.

[2022-01-04 08:44] ralphilius commented on #113
@tyvdh It should update right away. Can you try to fetch again or submit another payment?

[2022-01-04 22:34] tyvdh commented on #113
Repl is stuck waking up again. :P this is getting too tedious.

[2022-01-05 05:36] ralphilius commented on #113
Sure. I'll refactor it to support deployment on Vercel.

[2022-01-10 05:32] raeesnazeer commented on #150
Hello,

Very nicely done, loved the chart representation and display of balance with icons!

The only issue I see is the freighter button doesn't respond if the extension is not installed, so it's better to add a check for that and notify users to install it.

Rest everything is perfect and lovely. Once you fix the freighter issue you can mark is review completed from my end.

Excellent Job!

[2022-01-10 09:20] vinamogit commented on #150
Hello,

Thank you for the feedback.
I will fix that soon.

[2022-01-10 11:13] vinamogit commented on #150
Bug fixed.

[2022-01-13 06:31] ralphilius commented on #113
@tyvdh I've deployed this to Vercel. Please try again :)

[2022-01-13 13:38] tyvdh commented on #113
Thanks! Seems to work _much_ better now. Only complaint now is that if an account pays the muxed address the balance doesn't appear to update

[2022-01-13 13:45] tyvdh commented on #113
@w00kie does support this, so there's at least some precedent for implementing this support
https://github.com/tyvdh/stellar-quest-bounties/issues/145

[2022-01-13 13:48] tyvdh commented on #145
Works flawlessly for the tests I put it through. Well done. Can you add your Stellar address you want the award sent to as a PR to this file? https://github.com/tyvdh/stellar-quest-bounties/blob/main/ADDRESSES.yml Thanks!

[2022-01-13 13:50] rahimklaber commented on #113
@tyvdh what exactly do you mean? Do you just mean that `/info` doesn't update when the balance changes or is it something else?

[2022-01-13 13:52] tyvdh commented on #147
`eeb57db172e5d6db181bed72d8d61c08bba1401298f651505c1438c829205426`

[2022-01-13 13:52] #147 closed

[2022-01-13 14:14] vinamogit commented on #150
Done. Thank you.

[2022-01-13 14:44] tyvdh commented on #150
`f46a4b3bb22f784a4ba5effc10639fe358c182294d3ec8e3bffc7fd478c4e649`

[2022-01-13 14:44] #150 closed

[2022-01-13 15:01] ralphilius commented on #113
Ah, got it now. In Replit version, I supported that, but for serverless version, we need to explicitly call `api/deposit/:txHash` to accredit the muxed account.

[2022-01-13 16:07] tyvdh commented on #113
So if the muxed account has 50 XLM and I send 25 XLM to it from any other account the balance should update automatically to 75 XLM.

[2022-01-13 16:09] tyvdh commented on #113
I wonder if you could run a cron task which could pick up any unconfirmed deposits. Manually calling a deposit hash is a bit tedious and not part of the original scope. Maybe it should be? Requiring an always on server is a bit not awesome.

[2022-01-13 16:21] vinamogit commented on #150
Confirm. Is it ok if I send it back to the source account @tyvdh ?

[2022-01-13 16:27] tyvdh commented on #150
`fa38180928b2d1d196e364aab25cd912064e6d2b29e012c60a40842c21de98c2`

[2022-01-13 16:31] vinamogit commented on #150
ed53d20b214cd8f68366ef1dd1644a97a4a676511b06dd4efdfd9b63476d548e

[2022-01-17 11:22] ralphilius commented on #113
@tyvdh I've added depositing accredit when you received payment from other accounts. It should be updated every minute by Github Actions, but if you want to quickly test you can run a `POST` towards`api/deposit`. I've spent extra efforts to make sure that tests would work with this scenario as well (compared to other submissions).

In my opinion, for real businesses, they must have a running serve

[2022-01-17 11:57] tomkiljo commented on #113
I think the GHA every minute cron update is a good approach in the bounty context.

I ended up writing a separate service for listening payment event stream for the custodial account and updating the user account balances based on those events. This of course might induce costs depending on the deployment environment. Luckily I have free monthly credits to spend.

[2022-01-18 02:20] ralphilius commented on #118
These issues have been addressed. Could you continue review? Or is it done for you?

[2022-01-18 12:42] orsab opened #153 "basic-account-viewer by orsab"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

Repo: https://github.com/orsab/stellar-bounty-l1
Demo: https://orsab.github.io/stellar-bounty-l1

[2022-01-18 15:09] raeesnazeer commented on #153
Hello,

Nice work, all the bounty requirements are fulfilled and working as expected.

The review is completed from my end.

[2022-01-18 15:20] orsab commented on #153
Thanks @raeesnazeer

[2022-01-19 11:19] orsab opened #154 "stellar-accounts-as-a-service by orsab"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/stellar-accounts-as-a-service.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

_No response_

[2022-01-20 04:20] w00kie opened #155 "New bounty for Fee Stats in Lab Endpoint Explorer"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

As requested by @tyvdh, we should have a bounty for someone to make a PR for adding missing Horizon endpoints, e.g. the Fee Stats en

[2022-01-20 14:08] tyvdh commented on #155
Probably a separate bounty but worth looking into. I'm not sure the fee isn't already automatically calculated. I know it's not always 100, I just don't know what the calculation / logic is atm

[2022-01-20 14:09] tyvdh commented on #155
Probably a separate bounty but worth looking into. I'm not sure the fee isn't already automatically calculated. I know it's not always 100, I just don't know what the calculation / logic is atm

[2022-01-20 14:10] silence48 commented on #155
It has always shown 100 for me even during surge pricing times; i will try to check on it.

[2022-01-20 14:13] Kanaye commented on #155
https://github.com/stellar/laboratory/blob/5dfac1ccea143fe1c7aeb24471df08851e455932/src/actions/transactionBuilder.js#L101-L117 that's were they fetch it (used via the store from the [transaction builder](https://github.com/stellar/laboratory/blob/5dfac1ccea143fe1c7aeb24471df08851e455932/src/views/TransactionBuilder.js)) ;)

[2022-01-20 14:15] w00kie commented on #155
@tyvdh, fyi I did not put a bounty amount as I thought that should be left to you.

[2022-01-20 14:25] tyvdh commented on #155
Pretty low, this one should be quite simple as far as a PR is concerned. Let's shoot for 300 XLM and see if anyone takes it.

[2022-01-20 14:34] silence48 commented on #131
I've looked at this code, and it looks good.  Still would like to look at it a bit deeper. The code installs and runs with a little coercing (probably from windows) I'd like to have some docs on the swagger auth... The end points all seem to work, the details, and stellar.toml endpoint work perfect.  I was able to generate a tx on the GET /auth endpoint, but was unable to verify it on the POST /au

[2022-01-20 14:41] fpbrault commented on #131
Has the account you used to generate the challenge funded? My code retrieves the account at verification to check its thresholds, so you'll get an error if the account cannot be found! However, this tells me I should maybe add a specific error message for this situation, since right now it only shows "Signatures are not valid or do not meet the required threshold!" instead of something like "Accou

[2022-01-20 14:45] LorDDark6660 commented on #153
Everithing works pretty fine for me...

[2022-01-20 14:46] tyvdh commented on #153
I am here for this level of review 🤣

[2022-01-20 20:22] orsab commented on #154
Repo:  https://github.com/orsab/stellar-bounty-l2
Demo Endpoint: https://stellar-bounty-l2.oralkin.repl.co

[2022-01-21 05:16] silence48 opened #157 "Add Get_Fees to the Stellar Laboratory Endpoints Explorer"
### Link the bounty file

#tyvdh/stellar-quest-bounties#155

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

TADA!!!
stellar/laboratory#640

[2022-01-21 14:13] DFugere1 opened #158 "claimable-balances-account-viewer by DFugere1"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/claimable_balances_account_viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [X] 🟣&nbsp; Review completed

### Provide relevant details
PR to the account_viewer
https://github.com/stellar/account-viewer-v2/pull/375

Demo:
https://elegant-perlman-79e8d

[2022-01-21 14:39] BlackBadPinguin commented on #118
I know tested ur submission a bit and can say the following:

Sign In with Discord Works fine. ✅

Sign In with GitHub works fine. ✅

Sign In with Email works fine. ✅

Sign in with Albedo works, however, you need to reload the Page before it actually shows your PublicKey I would say that's a bit unintuitive. ✅

The Delete Account Button works. ✅

The API Querying for a type name works.✅

However, o

[2022-01-21 14:57] BlackBadPinguin commented on #131
This Implementation looks really good, the Authentication works fine, the API responses are also all according to Spec. For me, everything worked fine (on testnet). There are good instructions on how to set it up in the Repo,  also the Code is very well documented. I also tried your muxed Account fix and indeed it is fixed right and according to Spec. So I think the same as @rahimklaber it is good

[2022-01-21 18:12] ElliotFriend commented on #158
Hi, there! Thanks for jumping on this one!

I'd suggest when a user clicks "claim balance" (or whatever you call it) in your viewer, the app should automatically:

1. Check if it's a non-native asset (this has probably already done by this point in the process, but just in case)
2. If so, check if the user has a trustline to that asset already
3. If not, just go ahead and add the appropriate trust

[2022-01-21 20:00] rahimklaber commented on #118
I think its good to go. I don't think I had found issues aside from the ones I mentioned.

[2022-01-21 21:05] rahimklaber commented on #131
Trying to verify the challenge  tx (with tha java sdk) when using muxed accounts still fails with an exception : `Exception in thread "main" org.stellar.sdk.InvalidSep10ChallengeException: Transaction not signed by server: GCQBVSARJXE4MCDOD7CZ2BNIB34KQ7KM4VO3OCHJXCJQW3IOYWOGWDLP.` (with [`Sep10Challenge.readChallengeTransaction`](https://github.com/stellar/java-stellar-sdk/blob/24426ee0256b330aa4b

[2022-01-21 21:23] fpbrault commented on #131
@rahimklaber I don't think the java sdk supports muxed accounts for SEP-10 right now: https://github.com/stellar/java-stellar-sdk/issues/360

[2022-01-21 21:27] BlackBadPinguin commented on #131
For me it worked with the js sdk.

[2022-01-21 21:29] rahimklaber commented on #131
Alright, good to go for me then. 👍

[2022-01-23 16:11] fpbrault commented on #131
Should I set this to review completed?

[2022-01-23 16:40] rahimklaber commented on #131
Yes, I think you can do that. 👍

[2022-01-23 17:07] DoraFugere commented on #158
Hi,

Here is the PR to the feature.

https://github.com/stellar/account-viewer-v2/pull/375

Let me know if that does not complete the requirement.

Thank you

[2022-01-24 17:49] ElliotFriend commented on #158
Do you have a preview setup where we can see/test your change? A standalone version of the account viewer that includes your changes would be required for the bounty to be considered complete, as per the [second bullet point here](https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/claimable_balances_account_viewer.md#bounty-description).

[2022-01-24 20:35] DFugere1 commented on #158
You are right, I forgot about that. I edited my post and added a demo.

[2022-01-25 17:11] ElliotFriend commented on #158
Thanks for adding the preview. Can confirm that it worked to claim a random balance on the testnet. Good job! I tried using a testnet account that's setup for the YieldBlox public testnet beta, but it threw some kind of error after signing the transaction. I'm willing to bet it was something weird with that account, though, rather than your preview. Worked like a charm on a vanilla testnet account

[2022-01-25 17:37] tyvdh commented on #93
`0b26d8ddb2111ede91df9ded9c851cd8decb5e5058ae9eb442b740d425a89ff1`

[2022-01-25 17:37] #93 closed

[2022-01-25 17:52] ElliotFriend commented on #73
Changing this back to the `review` state, since we're waiting for merges on the remaining snippets.

[2022-01-25 18:16] ElliotFriend commented on #131
@silence48 I don't see an address for you in the `ADDRESSES.yml` file. Can you add one?

[2022-01-26 01:02] DFugere1 commented on #158
I will take a look at the problem with the network when using Albedo, thank you for bringing it up!

[2022-01-26 02:00] DFugere1 commented on #158
After some testing, the issue is also appening on the master branch of the application.

[2022-01-26 02:15] w00kie commented on #157
Since the PR is merged, I think you can mark it as review completed.

[2022-01-27 20:10] ElliotFriend commented on #158
I see you are correct! Very interesting. I'll add an issue to the repository, and we won't count it against your implementation. Thanks for helping to catch this!

[2022-01-27 21:09] ElliotFriend commented on #113
`bffd54247e3a8d885a79eb133a708d437916f9245ce0af64c4d02ab6f8ecc256`

[2022-01-27 21:10] ElliotFriend commented on #131
`68c15d081c5d06769de2b83779a7baf67b3a19a2a90bf3064af2f002b4bcaebe`

[2022-01-27 21:10] #131 closed

[2022-01-27 21:11] ElliotFriend commented on #153
`7e009f2768ca6f902aa2dae852df1ee57923528a4a56e42026b5d0d0024a1d92`

[2022-01-27 21:11] #153 closed

[2022-01-27 21:33] ElliotFriend commented on #153
@orsab For accounting purposes, what's your Discord user id? If you'd rather not share that here, you can send me a DM on discord.

[2022-01-27 21:37] ElliotFriend commented on #131
@fpbrault For accounting purposes, what's your Discord user id? If you'd rather not share that here, you can send me a DM on discord. I'm ElliotFriend there 👍🏻

[2022-01-28 00:00] ElliotFriend commented on #144
PR #143

[2022-01-28 00:21] ralphilius commented on #113
@ElliotFriend should we lock the bounty reward to the amount before we change the bounty file? I realized that the bounty amount was adjusted 7 days ago while my task was finished before that. I think only undone tasks after bounty award change should be accepted.

[2022-01-28 00:28] LorDDark6660 commented on #158
With Freighter everithing works fine, i think albedo have some issue on testnet, i am testing YieldBlox with albedo and Freighter and albedo have the same issue like here. I would also not add an accept trustline button, in case of a large number of CBs it is a waste of time.

[2022-01-28 00:34] ElliotFriend commented on #113
Oh, crap!! I'm so sorry! I totally missed that change. Completely my fault on that. I'll get another tx ready for the remainder of the payout.

Yeah, we'll have to come up with a process for finding/tracking/processing payouts any time a bounty reward is going to be changed. Anyone have ideas off the tops of their heads?

Sorry again for missing that.

[2022-01-28 00:48] ralphilius commented on #113
@ElliotFriend it's not your fault. This is the first time we encountered this case. I think the easiest way is to add the change history to the bounty file and check if we had any change before the award-ready date. In the history section, we just need to address which was changed without any extra details, like `2022-01-14: bounty award change`

What do you think?

[2022-01-28 03:31] ElliotFriend commented on #113
That sounds pretty good to me. A simple, but more detailed commit description could serve as enough of a flag to catch the eye as the transaction being built.

Thanks for pointing it out this time!

[2022-01-28 12:40] orsab commented on #153
Hi @ElliotFriend, my nickname in discord is orsab, like there. Does stellar community have channel in discord?

[2022-01-28 12:45] ElliotFriend commented on #153
Yes, we do! There are a few, but the relevant one for these bounties is "Stellar Quest." You should totally come join us!

https://discord.gg/3dRWymya

[2022-01-28 13:18] MatejMecka opened #165 "TipBot"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/create-bounties.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

PR #2

[2022-01-28 15:35] ElliotFriend commented on #157
`5f71f118c88de7cf9e233f36fa6237cbccf1980860428821e7fc8a8f5511ca10`

[2022-01-28 15:36] ElliotFriend commented on #155
`7fce11ebde2fce95300a4105a01e786bfa184867d226589e45f0476e058affa8`

[2022-01-28 15:36] #155 closed

[2022-01-28 15:38] ElliotFriend commented on #113
Here's part 2 of your payouts:

`2d6d7b42cce1a35eaca2b2e754f9c304c43352356a91ea84adbdeb9a6b2aaec1`

Sorry for the mixup, and thanks again for helping us find out some process improvements we can make. 👍🏻

[2022-01-28 15:38] #113 closed

[2022-01-29 00:50] BlackBadPinguin commented on #118
You might want to change the Label from review to reward, to finalize this bounty.

[2022-01-29 00:57] BlackBadPinguin commented on #158
I now also tested it with Freighter and can confirm it works as intended, so the issue with Albedo is indeed in the Account Viewer itself, as far as I tested it everything works fine, as @LorDDark6660 already mentioned, a separate CB Button would be nice, however, it isn't mentioned in the quest afaik. So I would say the Quest is done and ready for a reward.

[2022-01-29 01:08] BlackBadPinguin commented on #165
This already looks good to go, so I think you could change the review label to Review completed/reward.

[2022-01-29 01:37] ralphilius commented on #118
Thanks. I've changed it.

[2022-01-29 07:21] LorDDark6660 commented on #165
Its OK...great work 👍

[2022-01-29 08:02] LorDDark6660 commented on #154
I am missing in description that i have to rename example file to .example.env

![IMG_20220129_085004](https://user-images.githubusercontent.com/92062140/151652958-8857792b-d4ee-406c-898a-539358dc629a.jpg)

[2022-01-29 14:46] ralphilius commented on #139
I've added a few comments in your PR.

[2022-01-29 14:56] silence48 commented on #165
https://github.com/tyvdh/stellar-quest-bounties/blob/99f45312ccb45be29270afaa563ea64c52795649/bounties/level-2/tipbot.md

This is the bounty he made and it looks good to me i think, but maybe the bounty should be 2k xlm?

[2022-01-29 17:26] orsab commented on #154
Hi, you have explanation into the README.md,
https://github.com/orsab/stellar-bounty-l2#mv-envexample-env

On Sat, 29 Jan 2022, 10:02 AM LorDDarK, ***@***.***> wrote:

[2022-01-29 18:01] orsab commented on #154
In repl you have to click on the start button only, if you trying it
locally, move .example.env into .env

On Sat, 29 Jan 2022, 7:25 PM Or Alkin, ***@***.***> wrote:

[2022-01-29 19:10] BlackBadPinguin commented on #158
Also, don't forget to add a PR for adding your Address to the ADDRESSES.yml file.

[2022-01-29 21:40] DFugere1 commented on #158
Thank you,  I submitted the PR. I will still work on the PR made to the account-viewer project and try to get it up to standard.

[2022-01-31 09:01] orsab opened #169 "SEP-10 implementation by orsab"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/sep10-javascript-server.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [X] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

REPO: https://github.com/orsab/stellar-bounty-l2-sep10
Demo on Repl.it: https://replit.com/@OrAlkin/stellar-bounty-l2-sep10

[2022-01-31 21:19] DFugere1 commented on #169
Hi,

Nice implementation of SEP-0010 server.

**_Testing the solution:_**
I tested your implementation of SEP-0010 with the Rabet Wallet, the implementation always return the Rabet wallet with network as the Main Network.

When testing I could authenticate using the server implementation and I received my JWT auth bearer Token.

**_Testing the API_**
Everything worked fine when using correctly.

W

[2022-02-01 01:29] BlackBadPinguin commented on #169
Overall nice Submission!

I tested the Implementation of your API and it looks good, everything seems according to spec. Also, the use of muxed Accounts does not produce any Errors which is good. The Authentication Flow works fine, apart from Step 15 as already mentioned in the issue from @DFugere1. However, the JWT is good. I tested it with the JS SDK.

[2022-02-01 19:49] orsab commented on #154
Hi @DieKautz, thank you for your code review. Just fixed some bugs like: error show, floating point...
I'm not antagonist, as a result, I'm not pressure users to create good usernames. Sometimes crazy username with unicode is very good practice in security 😉

[2022-02-01 21:28] orsab commented on #169
Hi @DFugere1 , @BlackBadPinguin . Thank you for yours code review, just fixed some bugs you mentioned me, like: signatures check, UX improvements and some bugs with Rabet wallet on testnet.

[2022-02-08 03:26] ElliotFriend commented on #165
`7c0d569395f95a3f6e6264f38009525163232616fdf8bad8b9c24aea1cc0c817`

[2022-02-08 03:26] #165 closed

[2022-02-08 03:30] ElliotFriend commented on #158
Thanks for the update on that. Still a good experience, and certainly worthy of a bounty reward! Great job and excellent contribution!

`e47aacd69032607bc6ebe058557a81fdd77a7be179d1d562f15f8ef423d57920`

[2022-02-08 03:30] #158 closed

[2022-02-08 13:33] DFugere1 opened #172 "JavaScript SEP-0010 Server Reference Implementation by DFugere"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/sep10-javascript-server.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

Hi,

I will try to start working toward this bounty.

Thank you

[2022-02-08 21:21] DieKautz commented on #172
Hey, nice to see you start working on this.

However keep in mind that this bounty is capped at 3 submissions and there are already [three other submissions](https://github.com/tyvdh/stellar-quest-bounties/issues?q=is%3Aissue+label%3Asep10-javascript-server).
Two of them already moved to the award stage so they count towards the cap i guess. But the repo of #135 by @rahimklaber has not seen recent

[2022-02-11 19:31] ElliotFriend commented on #118
`a04252903fd7291d2309b155e3acf7e59a8921ee755acaf6dd9ea98bda7a1d0d`

[2022-02-11 19:31] #118 closed

[2022-02-11 19:31] ElliotFriend commented on #154
`c6dfd6696fa140475f15fc03e759408a4e0a70faf6f1184899996bc5993d8a2b`

[2022-02-11 19:31] #154 closed

[2022-02-11 19:32] ElliotFriend commented on #169
`2083a0a677111a86e8d429b76786559d765834bcb8d47eb2d66a889bdce9a544`

[2022-02-11 19:32] #169 closed

[2022-02-18 21:15] rahimklaber opened #176 "Tangem xdr signer"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/tangem-xdr-signer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

repo : https://github.com/rahimklaber/tangem_signer

[2022-02-23 09:14] orsab opened #177 "Tip bot by orsab"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-2/tipbot.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [x] 🟢&nbsp; Ready for review
- [x] 🟣&nbsp; Review completed

### Provide relevant details

Repo: https://github.com/orsab/stellar-bounty-tipbot
Demo: https://discord.gg/eBQMcwkhPx

Started with tip-bot, also I consider to change som

[2022-03-03 14:03] LorDDark6660 commented on #177
Great job, I haven't discovered any bugs yet, I'll test all the features tonight.

[2022-03-03 21:54] orsab commented on #177
Hi, let me know if you have any questions or bugs to report.

On Thu, 3 Mar 2022, 4:04 PM LorDDarK, ***@***.***> wrote:

[2022-03-09 20:39] silence48 commented on #177
Hey I didn't notice this! I am going to try it out tonight will let you know any input!

[2022-03-12 16:22] huuquyet opened #178 "Basic account viewer by huuquyet"
### Link the bounty file

https://github.com/tyvdh/stellar-quest-bounties/blob/main/bounties/level-1/basic-account-viewer.md

### Mark your progress

- [X] 🔵&nbsp; Started working
- [ ] 🟢&nbsp; Ready for review
- [ ] 🟣&nbsp; Review completed

### Provide relevant details

Repository: https://github.com/huuquyet/basic-account-viewer

[2022-03-14 16:47] DieKautz commented on #178
Your application looks cool. I really like your mobile first approach in the responsiven structure of the ui.
For me all key functionalities are working fine e.g. viewing testnet/pubnet balances and date/origin of account creation.

I see you also added a second tab 'settings', do you already have something in your mind you want to customize in your app?

[2022-03-14 17:37] BlackBadPinguin commented on #126
Are you still working on it?

[2022-03-14 17:43] BlackBadPinguin commented on #178
Hello, I looked into your submission and it looks very functional (in a good way). The native and custom Balances get shown correct. Freighter login also works fine. The UI is very minimalistic and I like that.  Code wise it looks good, the Readme is clear and understandable. However I think a few comments in the Code wouldn't hurt it. Overall tho great submission.

[2022-03-15 11:59] huuquyet commented on #178
Thank you for kind comments, I'm so happy reading those.
I just want to customize dark mode in the settings tab :)
And I will remember to comment more

[2022-03-18 19:20] LorDDark6660 commented on #178
Hi, everything works fine for me, I agree with the comments above.  instead of the "settings" button just place the "DARK mode" button, I think otherwise there is not much to set. good job

[2022-03-21 19:07] BlackBadPinguin commented on #178
Don't forget to add your name and Stellar Address to the ADDRESSES.yml file with a PR. When you did that you can mark this bounty as ready for a reward. Anything else to say? @DieKautz @LorDDark6660

[2022-03-25 08:00] huuquyet commented on #178
Thank you for all your supports, I really appreciate those.

[2022-03-25 14:29] orsab commented on #177
Hi, updated the code now.
* For test reasons added ability to everyone become a Sponsor by calling ```/sponsor``` command
* Demo added: https://discord.gg/eBQMcwkhPx
- Don't forget link the member before tip.
- All notifications by bot are inside the private manages, because ephemeral messages are delete automatically after some time.

[2022-03-26 18:48] orsab commented on #177
Updated issuer account and issue script, some bugs are fixed too

@silence48 @LorDDark6660

[2022-03-27 07:53] LorDDark6660 commented on #177
I just tested the demo and everything works as it should, I joined as a sponsor, linked stellar address, I sent a tip and a claim BEER CB, for me 👍

[2022-04-14 18:54] ElliotFriend commented on #178
Great work, @huuquyet! I particularly like how your account viewer displays the liquidity pool assets, too! I see your PR with your address, as well. As soon as we get all your kyc info, I'll get your payment issued 👍🏻

Thanks!

[2022-04-19 14:57] ElliotFriend commented on #178
Hey, everyone! Tyler got the payout submitted yesterday. Here's the hash:

`b8c43e1b63141e35ac942622290772c821b68fc70ff1e0d89282177219d3717f`

Thanks everyone for your work, both coding and reviewing!

[2022-04-19 19:40] orsab commented on #177
@ElliotFriend Hi, when this bounty can be closed?

[2022-04-27 19:33] silence48 commented on #177
I tested in discord and it seemed to work as intended!

[2022-06-04 05:01] ElliotFriend commented on #177
Hey, everyone!

Sorry for the delay on this one. Finally got your payouts processed!

`bac1ba1b2f7527f903c5f908418a78e88b90d5cd0723138745f87b2a331679af`

Thanks for the hard work and dilligence! @orsab @LorDDark6660 @silence48

[2022-06-04 05:01] #177 closed